[2017-03-15 17:24] #697 closed

[2017-03-15 17:28] premchandpl commented on #697
@mcpsmith The problem might be  your search results source is wrong in your azure web app settings. Go to your azure web app settings and check what value is there for SearchResultSourceId. If the value is System.Object.String, then it is wrong. This value needs to be updated with GUID which you can obtain from the root site collection

1. Goto root site collection
2. Go to settings page of site c

[2017-03-15 17:30] premchandpl commented on #697
@mcpsmith See the below steos for more information

1. https://<>.sharepoint.com/_layouts/15/manageresultsources.aspx?level=sitecol and click on mattercenter.
2. Then from url get source id. You should replace %2D in sourceid value with -.
3. Go to azure portal -> your web site appsettings and update the value for searchresouredid settings.

[2017-03-15 17:36] mcpsmith commented on #697
@premchandpl  - thank you that worked.

[2017-03-15 18:26] mcpsmith opened #698 "Matter Center Images, tasks, calendar not loading"
After Clicking on Matter Center Home I am brought to the SPO site for Matter Center, I click on a matter and notice some images, tasks and calendar do not load

![image](https://cloud.githubusercontent.com/assets/26168907/23964585/5ac0ed6a-098b-11e7-96b6-32ae2f8c2793.png)

[2017-03-15 19:35] premchandpl commented on #698
@mcpsmith The issue could have been in spcommon.js file where the path to catalog site collection could have been wrong

Can you check whether the following function "displayHeaderAndFooterContent(isBackwardCompatible)" in the spcommon.js has the following line of code

**var sAssetsLocation = "/sites/catalog/"+oCommonLinks.oMatterCenterAssetsLocation;**

if the value of  of sAssetsLocation is oth

[2017-03-16 05:27] SumeshKashyap opened #699 "Different Tenant issue"
Hi All

This is in connection with Issue #654 , point no. 2
We did steps as suggested for different tenant (mentioned in latest document) but I am still getting same error.
Can you please suggest ?
I have attached screenshot of logs
![mattercenter](https://cloud.githubusercontent.com/assets/19746073/23983000/591c8f58-0a37-11e7-8126-cdf9812256b9.JPG)

[2017-03-16 19:53] premchandpl commented on #698
@mcpsmith Any updates on this issue. Are you resolve these issues? If not let me know and I will help you to resolve the same

[2017-03-16 21:01] premchandpl commented on #698
@mcpsmith regarding the tasks and images not loading, we found issue in our code and we are fixing it. Once it is available I will update you

[2017-03-16 21:02] mcpsmith commented on #698
I found the file and updated it in the solution source code. I republished but it did not seem to make a difference.

[2017-03-16 21:20] premchandpl commented on #698
@mcpsmith If you come to skype I will resolve the issue for you. My skype is premchand_76

[2017-03-17 17:21] mcpsmith commented on #698
Can we Skype on Monday morning around 10am EST? Thank you.

[2017-03-17 18:26] premchandpl commented on #698
Will work for me

Sent from my iPhone

On Mar 17, 2017, at 10:21 AM, mcpsmith <notifications@github.com<mailto:notifications@github.com>> wrote:

Can we Skype on Monday morning around 10am EST? Thank you.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/Microsoft/mattercenter/issues/698#issuecomment-287417659>, or mute the thread<h

[2017-03-18 14:48] olegkofm commented on #698
Once problem with invalid images is resolved and they're loaded, they never disappear. It happens because
MatterLanding.js makes references to matterExtraProperties and to documentLibraryName/documentLibraryGUID (in getMatterName) - all of which are undefined there. Search across solution shows that they're defined in Angular controllers but these are not referenced in the landing page anywhere, s

[2017-03-19 17:14] olegkofm commented on #698
The other issue during main matter page load is that both Tasks and Calendar loading operations are deferred until $.get() completed on task and calendar lists respectively. That means that there is very real possibility that code in retrieveListItems() won't be able to find $(".taskBoard") or $(".calendarBoard"). It occurred to me quite often, actually. The fix is to move retrieveListItems() dire

[2017-03-19 17:41] randmorimoto commented on #642
@WilsonReddy Thank you for actively answering questions on this Matter Center GitHub page, I've had a nagging problem for 3-days, finally realized there's active support responses on GitHub here and found the solution to my problem in 5 minutes!  Should have come here earlier, thank you for sharing your knowledge on problem solving!

[2017-03-19 18:09] kungfulu commented on #696
I had this same issue when I didn't have Administrator or Co-Administrator access in Azure.

[2017-03-19 18:13] premchandpl commented on #698
@mcpsmith @olegkofm The fix has already been checked into github. If you pull the latest code the fix will be there in that code.

Take the backup of existing matterlanding.js files and ensure that the code inside the [[[]]] has been replaced with proper information from the backup matterlanding.js file

[2017-03-20 14:14] mcpsmith commented on #698
@premchandpl  I have updated the two files and republished the matter center. The images still do not show up. I have tried Skype but you appear to be offline.

[2017-03-20 14:29] premchandpl commented on #698
@mcpsmith I am available on skype now - premchand_76

[2017-03-20 14:33] olegkofm commented on #698
Both MatterLoading.js and spCommon.js contain exactly the same variable oMatterCenterAssetsLocation which, of course, points to different paths (the one in MatterLoading points to "SiteAssets/Matter Center Assets/Matter Landing Assets/" and the one in spCommon points to fully qualified path "https://<tenant>.sharepoint.com/sites/Catalog/SiteAssets/Matter%20Center%20Assets/Common%20Assets/")
I ende

[2017-03-20 14:35] mcpsmith commented on #698
@premchandpl - I am on Skype - I added you as premchand_76@microsoft.com - I am msging you from an account named alawsonn

[2017-03-20 14:39] premchandpl commented on #698
@mcpsmith my skype id is premchand_76hotmail.com

[2017-03-20 14:40] premchandpl commented on #698
@mcpsmith premchand_76@hotmail.com. I added you to skype with id alawsonn

[2017-03-20 15:24] premchandpl commented on #698
@mcpsmith closing this github issue as all the issues are resolved

[2017-03-20 15:24] #698 closed

[2017-03-20 15:26] mcpsmith commented on #698
@premchandpl  - thank you - issue is resolved now.

[2017-03-20 20:24] amitabhm21 commented on #686
Yes. These limits apply. These are set to make sure that there is no impact to performance,

[2017-03-20 21:57] tasgray commented on #696
@kungfulu To clarify, when the script prompts you for a SharePoint user, you enter credentials which are also Admin / Co-Admin on the Azure subscription?

[2017-03-21 17:28] kungfulu commented on #696
I am not sure at this part which piece is being prompted, but in one installation instance I was a O365 Tenant admin, but not an admin in Azure and this was the error I got.  This was the first time I had seen these because I was a Tenant admin and an Azure admin in the other instances.  I contact the person that was in charge of Azure and when he gave me admin privileges.  After that this error w

[2017-03-23 17:38] Jquintero190 commented on #696
I had the same problem, just make sure that the credentials you used for SharePoint prompt in script is added to the site collections administration. you can add them in
https://<yoursharepointsite.com>/catalog
then click
Settings -> Site Settings -> Site Collection Administration and add them in the dialog box.

[2017-03-24 16:41] Vasanth1981 commented on #695
Here is the fix on method GetClientContext() in MatterProvisionHelperUtility Class. The object was disposed while calling it in main().

internal static ClientContext GetClientContext(string siteURl, Dictionary<string, string> configVal)
        {
            string login = configVal["Username"];
            string password = configVal["Password"];
            bool isDeployedOnAzure = Convert.ToBo

[2017-03-27 15:46] CHinton123 opened #705 "Azure application requires full control over all SharePoint Site Collections"
As an administrator of SharePoint, I don't understand why the Azure application requires full control over all existing and future site collections in the SharePoint tenant.

The Azure application needs to only have access to the Site Collections specifically created in support of Matter Center.

[2017-03-28 04:45] morton0212 opened #706 "Deploy.ps1 step 8 : Exception Details: Value cannot be null."
we suffer from the error when the deploy.ps1 is executing.
should we check the content of MCDeploymentConfig.xlsx ?

3/11/2017 11:34:05 PM - Update site collection view with fields successfully
3/11/2017 11:34:05 PM - Step 8: Create Provision Matter List
Exception Details: Value cannot be null.
Parameter name: source
Creating Provision Matter List...3/11/2017 11:34:12 PM - Deployment failed
3/11/2

[2017-03-30 17:59] stuartcporter commented on #592
@premchandpl
our customer is taking a different approach, so we are blowing away the installation we have running in azure - we may look back at the product if and when a suitable customer comes along.

thank you for your help in trying to get things running.

Stuart

[2017-03-30 17:59] #592 closed

[2017-04-01 09:23] DZPepito commented on #646
Hello @jenslnielsen,
Just change the in the method `private static void `CreateSharePointList(ClientContext` clientContext, int listCount, string groupName)
 {
....
 Field fldTitle = list.Fields.GetByTitle("Title");
`

to

`private static void `CreateSharePointList(ClientContext` clientContext, int listCount, string groupName)
 {
....
 Field fldTitle = list.Fields.GetByInternalNameOrTitle("Title")

[2017-04-04 21:39] Ahavaz opened #708 "Deploy fails at step 8"
In step 8 of deploy I get the following message "O nível de permissão não pode ser encontrado" which translated to english is "The permission level could not be found".

`04/04/2017 17:58:20 - Update site collection view with fields successfully`
`04/04/2017 17:58:20 - Step 8: Create Provision Matter List`
`Creating Provision Matter List...Message: O nível de permissão não pode ser encontrado.`
`S

[2017-04-05 02:59] roberttoro opened #709 "Error: Identity Client Runtime Library (IDCRL) could not look up the realm information for a federated sign-in."
I've been working through the issues of getting Step 7 to complete, and now I'm stuck here.
I have a feeling there's something wrong with the SharePoint CSOM libraries not being registered, but that seems to be a shot in the dark.
I come to this conclusion since I had to run this command within the PS environment before executing Step 7, otherwise, the script would throw an error that it couldn't

[2017-04-05 14:23] mcpsmith opened #710 "Word Online unable to connect to catalog"
I get the following error when trying to add the Matter Center Add in through Word-online.

![image](https://cloud.githubusercontent.com/assets/26168907/24710025/d69d09b4-19e9-11e7-9a7c-398de598851e.png)

[2017-04-06 09:44] przemasd opened #711 "String was not recognized as a valid Boolean."
When I try upload document by web explorer I get the error server 500 "String was not recognized as a valid Boolean."

![obraz](https://cloud.githubusercontent.com/assets/25458793/24747951/4fb7ed62-1abe-11e7-8e82-2a55e3a9514f.png)

this error is only when I try upload document form my computer using darg and drop.

[2017-04-06 17:50] #686 closed

[2017-04-06 17:51] amitabhm21 commented on #663
Closing this issue. Please reopen if needed.

[2017-04-06 17:51] #663 closed

[2017-04-06 17:58] premchandpl commented on #710
@mcpsmith Can you verify your office manifest file and check whether all the things are properl yset or not

[2017-04-06 18:19] premchandpl commented on #711
@przemasd I need to analyze the request payload that you are sending when you are uploading the files from the desktop. You can get that information from the developer tools of the web browser

[2017-04-06 21:00] ns8482e commented on #699
Did you create "Matter Configurations" list as per deployment guide?

[2017-04-07 14:08] mcpsmith commented on #710
Where can I find the office manifest file? What settings should I look for? Thank you.

[2017-04-10 03:02] johndpalm commented on #652
I'm getting the same thing.

[2017-04-10 03:32] premchandpl commented on #710
@mcpsmith can we connect tomorrow and I will help you to resolve the issue. My skype id is: premchand_76@hotmail.com

[2017-04-10 05:40] WilsonReddy commented on #710
In deployment folder you can find it. We are updating manifest file during development. You can also find manifest file in solution, but you need to update url before publishing office app.

Sent from my Windows Phone
________________________________
From: mcpsmith<mailto:notifications@github.com>
Sent: ‎4/‎7/‎2017 7:09 AM
To: Microsoft/mattercenter<mailto:mattercenter@noreply.github.com>
Cc: Subs

[2017-04-10 15:29] mcpsmith commented on #710
@premchandpl @WilsonReddy
It appears to be working now. Thank you.

[2017-04-10 15:29] #710 closed

[2017-04-10 15:33] mcpsmith opened #712 "Renaming Matter Center Beta Outlook AddIn"
Is there a way to rename the Outlook Addin, it installed correctly and works, I would like to remove the "Beta" from the name of the add in. Thanks

[2017-04-10 15:39] premchandpl commented on #712
@mcpsmith

1. Open MS Matter Outlook manifest file            tree\master\cloud\src\solution\Microsoft.Legal.MatterCenter_Outlook\Microsoft.Legal.MatterCenter_OutlookManifest\Microsoft.Legal.MatterCenter_Outlook.xml
2. Edit both DisplayName and Description xml nodes (Line 8 and 9)
3. Delete existing outlook addin from Office 365 portal
5. Upload the new manifest file
6. Restart your outlook

[2017-04-10 15:40] mcpsmith opened #713 "Default Values for Matter Center Creation"
Is there a way to get default values prepopulated for Matter Creation? Specifically I would like to have defaults specified for:

- Client
- Matter Id
- Make Conflict check fields not required or filled in with default values
- Default several Team members
- Uncheck include RSS Feed

Thank you.

[2017-04-11 19:19] mcpsmith commented on #712
@premchandpl  - Can you provide some more details on how to delete the add in and upload the new manifest file? Thank you!

[2017-04-11 20:44] mcpsmith commented on #712
I have turned off the add-in, and uploaded the edited file, but the Add In still shows up as Matter Center Beta.

![image](https://cloud.githubusercontent.com/assets/26168907/24930023/1020cc34-1ed6-11e7-88a6-2cbe2e386e72.png)

[2017-04-12 13:36] SteveClements opened #715 "Angular Error on Matter page"
Hi, I have a new installation of MC, everything looks ok, except when I browse to the matters or documentation page (within SP so /SitePages/MatterCenterHom.aspx?section=1) I get 2 errors in the console.

The first is a 404...
`https://<webname>.azurewebsites.net/%7B%7BuploadedFile.documentIconUrl%7D%7D 404 (Not Found)`

The second is an angular resource error.
`
angular.js:13920 Error: [$resource

[2017-04-12 14:18] SteveClements commented on #715
I have just spotted what I think was the issue with the matters and documents.
In Azure, application settings, SearchResultSourceID was in as an array of object System.Object[], I didn't actually look to see if there were any values in there.
I renamed that key and created a new one with the result source id that was created during provisioning "Matter Center" and now at least the pages load.

I s

[2017-04-12 15:42] premchandpl commented on #713
@mcpsmith  There is a settings page and in that settings page you can specify the default values for a particular client. The settings page can be accessed from the following url's

1. On  the matter web azure website home page, there will be a link called "Go to Matter Center Home"
2. You will be redirected to matter dash board page
3. In that page click on "Hamburger menu"
![image](https://cloud

[2017-04-12 15:42] #713 closed

[2017-04-12 16:02] premchandpl commented on #715
@SteveClements

You can ignore the error "I still get the 404 errors looking for row.entity.documentIconUrl etc."

For the error you are getting in step 2/3, can you verify the same for me:

I think the client site collection (that you might be using for creating a matter) that has been created will be having 3 managed columns called PracticeGroup, AreaOfLaw and SubAreaOfLaw.

1. Go to client site

[2017-04-12 16:04] premchandpl commented on #712
@mcpsmith let me know if we can have skype call premchand_76@hotmail.com

[2017-04-12 17:48] mcpsmith commented on #712
@premchandpl - hello premchand - I have sent you a skype meeting if you are available - thank you!

[2017-04-12 18:01] mcpsmith commented on #712
Thank you @premchandpl - I had to edit the Add-in by going into Admin->Admin centers->Exchange->Organization->add in to delete and readd the add-in.

[2017-04-12 18:01] #712 closed

[2017-04-12 18:32] mcpsmith commented on #713
thank you!!

[2017-04-13 10:23] nageshtaluri opened #716 "Different Tenants issue: Script ran and Web Project published successfully but Azure Matter Center site is not able to access office 365 which is in Acceptance."
Hi Everyone,
#699 #654
Can you please help with me with this access issue?
Matter Center Web Project(step-11) got published successfully and Matter Center app got created, but matter center app is not accessible as it is trying to access Office 365(Acceptance) and not able to find the Acceptance(office 365) SharePoint site.
We have multi-tenant scenario such as Azure(Production) and Office 365(Acc

[2017-04-13 20:34] mjlally07 opened #717 "Deployment Script Error"
I received the error "Cannot find type [Microsoft.SharePoint.Client.ClientContext]: verify that the assembly containing this type is loaded" running deployment script "Deploy-AzureResourceGroup.ps1"

I was able to resolve by modifying the "DeployOfficeApp.ps1" script by also loading the "Microsoft.SharePoint.Client.Runtime.dll" before creating the context object as below.

$Assembly = [Reflection.

[2017-04-17 13:46] lpignate opened #719 "deployment from PC or VM"
May Matter Center be deployed from a Windows 10 workstation or must it be deployed through a VM on Azure?

[2017-04-18 01:33] mjlally07 opened #720 "Not ready for Visual Studio 2017"
I tried to build and deploy from VS 2017 Enterprise which required Nuget package updates -- publish succeeded eventually but wep app wouldn't load.  Opened up VS 2015 Pro and re-cloned -- publish and web app now working.

[2017-04-18 11:48] SteveClements commented on #715
@premchandpl
That was it, all up and running now, thanks!

[2017-04-18 11:48] #715 closed

[2017-04-18 19:09] Vasanth1981 opened #721 "More Info on Permission Levels"
Hi,
Can you please explain the below permission groups,

In App Catalog site:
Matter Center Users
Provision Matter Users

In Matter Center Site Collection:
Matter Center Interfaces

Also, How these permissions are associated with below group,
Matter Center Site Visitors, Members and Owners

-Vasanth.

[2017-04-18 19:10] premchandpl commented on #720
Matter center application is not ready for VS 2017. Once Matter center is ready we will announce the same. Closing this request for time being

[2017-04-18 19:10] #720 closed

[2017-04-18 19:30] premchandpl commented on #721
@Vasanth1981
**Provision Matter Users** - Only the users in this group will have permissions to create a matter (Create matter link will be visible)
**Matter Center Users** - If the users are not present in this group, then he may not access the catalog site collection resources such as master pages, site assets etc and the matter landing page and document details page will not be rendered properl

[2017-04-18 19:30] #721 closed

[2017-04-18 19:35] premchandpl commented on #719
@lpignate Matter center can be deployed from Windows 10 machine. VM on azure is not necessary to deploy matter center. We are doing matter center deployments from our Windows 10 desktop machines

[2017-04-18 19:35] #719 closed

[2017-04-18 19:38] premchandpl commented on #83
@stefvanhooijdonk. We are not supporting this version of matter center. We have upgraded Matter center with new set of features and we are calling this as Matter Center V2. Install V2 and let us know if you face any more issues

[2017-04-18 19:38] #83 closed

[2017-04-19 15:04] mwtall opened #722 "Can't create matter Step 3/3 fails"
I am still unable to create matter after I have spent weeks deploying the Office 365 Matter Center. I ran into multiple errors in deployment as well as in creating matter...however, this final error I can't get past.

I'm getting a "Error occurred while updating the matter metadata: Incorrect Inputs" on Step 3/3. See screenshot.

![capture](https://cloud.githubusercontent.com/assets/8932359/251870

[2017-04-19 16:58] premchandpl commented on #722
@mwtall We need to see the developer tool of the browser and need to check which api is throwing 500 internal error and we need to see the error response of that api. Can you share that information to me

[2017-04-25 21:20] Vasanth1981 opened #726 "Multiple Clients with Different Practice Group set"
Hi,
I'm using Matter Center V1. Is it possible to load practice group set based on Client Selection?
Any code change needed?

Regards,
Vasanth

[2017-04-26 22:44] Vasanth1981 commented on #357
Hi,
I having same issue with Matter Center 1, the new client's Matter is not appearing in All Matter Or My Matters. But after the Pinned the Matters, then its appearing only on Pinned Matters. Any idea?

[2017-04-26 23:00] premchandpl commented on #357
@Vasanth1981 Have you done the steps mentioned in this issue such as re-indexing the site collections? If this is still not working, we can have live session and I will help you to resolve the issue. Let me know if this helps

My skype id is - premchand_76@hotmail.com

[2017-04-26 23:01] premchandpl commented on #726
@Vasanth1981 Its not possible as there is no relation ship between practice groups and clients. So we cannot filter/load the practice groups based on client selection

[2017-04-26 23:01] #726 closed

[2017-04-27 16:14] Vasanth1981 commented on #357
Yes. I re-indexed the site site collections. But still the new client is not appearing on the My Matters or All Matters.

[2017-04-27 16:26] premchandpl commented on #357
@Vasanth1981 Now of the matters are appearing in "All matters"  and "My Matters" or only specific matters?

[2017-04-27 16:27] premchandpl commented on #357
@Vasanth1981 I mean "None of the matters are appearing in "All matters" and "My Matters" or only specific matters?"

[2017-04-27 16:28] Vasanth1981 commented on #357
The only Matters which created by Client 2 (which is configured manually)

[2017-04-27 17:04] Vasanth1981 commented on #357
@premchandpl , @WilsonReddy
Looks like, I have fix the issue. I have edit Result Source (Matter Center) and add the new Client URL in the Query Builder. Now the Matters is created with new client is appearing on the My Matters and All Matters.

{searchTerms} AND ( path: "https://XXXX.sharepoint.com/sites/Client1" OR Path: "https://XXXX.sharepoint.com/sites/Client2")

Please let me know if this is

[2017-04-27 17:14] premchandpl commented on #357
@Vasanth1981 I think it is just sufficient to provide the path up to your root site that is,  https://XXXX.sharepoint.com.

But the disadvantage is, if that root site collection is used for other business purposes, then the matter search will show the documents which are not related to matter center

Tomorrow if you add any new client (Site Collection) again you have to update the new site collect

[2017-04-28 20:57] Vasanth1981 opened #727 "Remove OneDrive Bulk Operations App & Office App"
Hi,
By default, I have installed Matter Center OneDrive Bulk Actions app and Office Add-Ons app. Now I would like to remove it. Is there any dependencies or impact on any other functionality?

We really don't use office App and app in One Drive.

[2017-05-03 14:48] kwild1140 opened #728 "'=' is an unexpected token"
I have been trying to complete the deploy.ps1 script, but keep getting the following message: '=' is an unexpected token. The expected token is ';'. Line 1, position 107. The problem is, this message is showing up randomly as the script runs. For instance, one time I will get the error while 'creating taxonomy hierarchy', while other times 'creating taxonomy hierarchy' completes successfully and I

[2017-05-05 02:04] shijov commented on #694
Getting an error at step 10, when I open the /#/admin URL of the web app

DescriptionError occured in the system. Please contact the administrator
MessageOne or more errors occurred.
ErrorCode500
MethodNameGetClientContext
ClassNameSPOAuthorization
LineNumber 80
StackTrace at System.Threading.Tasks.Task`1.GetResultCore(Boolean waitCompletionNotification)
 at Microsoft.Legal.MatterCenter.Utility.SP

[2017-05-05 02:28] shijov opened #730 "Error at step 10. ErrorCode: 500 ClassName: SPOAuthorization"
Getting an error at step 10, when I open the /#/admin URL of the web app

DescriptionError occured in the system. Please contact the administrator
MessageOne or more errors occurred.
ErrorCode500
MethodNameGetClientContext
ClassNameSPOAuthorization
LineNumber 80
StackTrace at System.Threading.Tasks.Task`1.GetResultCore(Boolean waitCompletionNotification)
 at Microsoft.Legal.MatterCenter.Utility.SP

[2017-05-05 02:30] premchandpl commented on #730
@shijov I think there is some issue in setting up your azure active directory for azure app and sharepoint online. Some how the token that is getting passed to sharepoint online is wrong and that's the reason you might be getting that error

[2017-05-05 02:42] shijov commented on #730
@premchandpl Below is my configuration for the app from azure active directory.

![image](https://cloud.githubusercontent.com/assets/28421764/25732097/a9473640-317e-11e7-8375-8dcd77fc49c1.png)

![image](https://cloud.githubusercontent.com/assets/28421764/25732111/cef5a2be-317e-11e7-9d23-4044e9909286.png)

![image](https://cloud.githubusercontent.com/assets/28421764/25732125/f8b5bbd4-317e-11e7-824b

[2017-05-05 02:45] premchandpl commented on #730
@shijov I assume both Azure and Office 365 are using same tenant

[2017-05-05 02:46] premchandpl commented on #730
@shijov can we have live meeting or skype meeting to resolve the issues

[2017-05-05 02:47] shijov commented on #730
Yes. Both are in the same tenant

[2017-05-05 02:48] premchandpl commented on #730
@shijov can we connect using skype. My skype id is premchand_76@hotmail.com

[2017-05-05 02:58] shijov commented on #730
I might have provided the wrong app catalog URL while the resource group was created. I will retry the steps, will connect if I am still unable to resolve the issue. @premchandpl  Thanks for your skype contact mate.

[2017-05-05 03:52] shijov commented on #730
@premchandpl It was an issue with the AppCatalog site URL in step 7, $CentralRepositoryUrl. It works now.
Thanks for the support.

[2017-05-05 03:52] #730 closed

[2017-05-05 06:53] shijov commented on #357
None of my new matters were showing up because the Matter Center result source had the first client sitecollection path. I updated it with {searchTerms} AND ( path: "https://XXXX.sharepoint.com"), it works now.

@WilsonReddy @premchandpl @Vasanth1981  Thank you guys.

[2017-05-19 16:09] amitabhm21 commented on #727
There is no impact to core functionality

[2017-05-19 16:09] #727 closed

[2017-05-19 16:10] amitabhm21 commented on #722
@mwtall is this issue still open ?

[2017-05-19 20:31] amitabhm21 commented on #728
Can you please make sure that account that you are using to run the script has Administrative privileges on this Tenant ?

Also make sure that you get the latest code from the Repo.

[2017-05-22 17:55] roblthegreat opened #739 "Deploy.ps1 - Step 5 Error"
When running Deploy.ps1, I am getting an error at Step 5.  I am using a snapshot of the master tree as of this morning.  I have run this multiple times and getting the same error.   I'm not sure what is missing.

<img width="860" alt="error" src="https://cloud.githubusercontent.com/assets/354025/26321758/c30171be-3eed-11e7-9efc-68aaea7ff8a7.png">

However it does show at the end "5/22/2017 12:42:5

[2017-05-23 09:57] roblthegreat commented on #739
I updated to Latest commit a6653a2 (released just after I posted the issue) and I am no longer able to reproduce this.  Issue seems to have been corrected.

[2017-05-23 09:57] #739 closed

[2017-06-01 22:01] kwild1140 commented on #728
Hi amitabhm21... got the latest version of the code and made sure the account has admin privileges... got the same results. I am using one of my Microsoft Demos sites to attempt this installation so I'm sure the 'admin' account has the necessary credentials.

What's next?

Thanks.

[2017-06-11 09:50] yizharm opened #748 "Azure Deploy Errors"
Hello,
I tried to build and deploy to Azure, but getting many errors.
I went through the installation guide several times, and sill getting Server Error 500.

I noticed that the "appsettings.json" file isn't updated after running PS1 files.
I would appreciate if anyone could help.

Thanks,

Yizhar

[2017-06-13 12:23] JCB2222 opened #750 "Step 7 deployment error: Set-AzureRmWebApp : Cannot validate argument on parameter"
Hi, We are somehow stuck on one of the last steps in step 7.  Due to the fact we are unable to find anything about this error any help is very much appreciated.

The Dutch line in the error translates (more or less) into:  "The objectlink is not set on a copy of a object"
Appsettings are thereafter not populated on the webapp.

**Set-AzureRmWebApp : Cannot validate argument on parameter 'AppSettin

[2017-06-13 18:01] premchandpl commented on #748
@yizharm I am eager to help you on this. Let me know how should I contact you on this? My skype id is premchand_76@hotmail.com

[2017-06-13 18:02] premchandpl commented on #722
@mwtall I will help you to resolve the issue on this one. Let me know what is the best way to contact you on this. Let me know whether skype will help you or not?

[2017-06-13 20:21] premchandpl commented on #750
@JCB2222 Can you check whether all values are being set in the below code in KeyVault-Config.ps1. If any of the values are empty string, you may get the error that has been shown by you
                        $appSettings = @{ `
				"General:Tenant" = $global:TenantName; `
				"General:SiteURL" = $SiteURL; `
				"General:CentralRepositoryUrl" = $CentralRepositoryUrl; `
				"General:KeyVaultURI" =

[2017-06-13 20:28] premchandpl commented on #750
@JCB2222 I executed the scripts in my environment, everything went fine

[2017-06-14 08:11] yizharm commented on #748
@premchandpl - Thank you very much.
I've sent you Skype request.

[2017-06-15 08:07] JCB2222 commented on #750
Thx for your reply and tips. We manually added all the strings and we were able to start Matter Center but got all kinds of errors during “create new Matter”.
We scrapped the install and are starting over.

(We will use your suggestion as stated above en keep you posted)

[2017-06-15 10:54] JCB2222 commented on #750
sorry to tell you , clean install same error (see below).
 Could this possibly be a rights issue somewhere
![step 7 set-azurermweb](https://user-images.githubusercontent.com/29375620/27178183-8e83099a-51c9-11e7-9e9b-1d20e24316c7.png)

[2017-06-15 11:57] premchandpl commented on #750
@JCB2222 You can debug the powershell script using "Powershell ISE" and you can debug the posershell script code and let me know if you needs any skype call and we can debug the code.
my skype id is - premchand_76@hotmail.com

[2017-06-15 16:27] premchandpl commented on #750
@JCB2222 As discussed in the skype, closing this issue as all the issues are resolved. Let me know if any help is required

[2017-06-15 16:27] #750 closed

[2017-06-19 20:14] premchandpl commented on #722
@mwtall my skype id is premchand_76@hotmail.com

[2017-06-26 18:33] allenolayiwola commented on #750
Hi @premchandpl,

Tried the suggestions above, still getting the same error. See screenshots before and after trying the above step. Kindly assist.
![capture 1](https://user-images.githubusercontent.com/1235545/27554427-e714bf90-5a9d-11e7-9cec-dd31c8df0caa.PNG)
![capture 2](https://user-images.githubusercontent.com/1235545/27554426-e710d970-5a9d-11e7-9eb9-12e93bcca73b.PNG)

Thanks

[2017-06-27 22:31] allenolayiwola opened #757 "Step 7. Deployment Issue"
Hi @premchandpl,

Tried the suggestions above, still getting the same error. See screenshots before and after trying the above step. Kindly assist.

![capture 1](https://user-images.githubusercontent.com/1235545/27612912-49e56152-5b88-11e7-91c0-f7cdbfecfa87.PNG)
![capture 2](https://user-images.githubusercontent.com/1235545/27612911-49e1d4b0-5b88-11e7-9cc1-ad9542ed4509.PNG)

Thanks

[2017-06-27 23:17] premchandpl commented on #757
@allenolayiwola Need to check whether Set-AzureRmWebApp cmd let has been changed. I will revisit this and will get back to you in a day or two. Currently busy with some other work

[2017-06-28 15:20] awsimon opened #758 "monthly cost"
Just curious if anyone can provided details on the average monthly azure cost for a production system?  Data is virtually free through this, but I'm wondering if any required services, like Search, make Matter Center only suitable to massive enterprises?

[2017-06-30 12:16] przemasd commented on #642
I have issue when i update matter Center azure App Service.

`{
  "errorCode": "500",
  "message": "Object reference not set to an instance of an object.",
  "description": "Error occured in the system. Please contact the administrator",
  "isTokenValid": false,
  "stackTrace": "   at Microsoft.Legal.MatterCenter.Web.Common.MatterProvision.<GetMatters>d__23.MoveNext() in C:\\Matter Center\\tree\\m

[2017-06-30 12:19] przemasd opened #759 "Search Matters don't work after update Azure App Service to newest version"
I have issue when i update matter Center azure App Service.

`{
  "errorCode": "500",
  "message": "Object reference not set to an instance of an object.",
  "description": "Error occured in the system. Please contact the administrator",
  "isTokenValid": false,
  "stackTrace": "   at Microsoft.Legal.MatterCenter.Web.Common.MatterProvision.<GetMatters>d__23.MoveNext() in C:\\Matter Center\\tree\\m

[2017-07-04 08:37] przemasd commented on #711
In UploadFiles method in DocumentController a properties "AllowContentCheck" of Form in Request is  undefined... Somebody know how fix it ?

[2017-07-05 21:53] premchandpl commented on #759
@przemasd Can we have a skype meeting for this and I will help you to resolve the issue for you

[2017-07-05 21:53] premchandpl commented on #759
my skype id is premchand_76@hotmail.com

[2017-07-06 05:44] przemasd commented on #759
this error was in mapping matter on service method "GetMatter" in MatterProvision

`if (key.ToString().ToLower() == searchSettings.ManagedPropertyMatterDefaultContentType.ToLower())
                        {
                            ServiceUtility.AddProperty(matterData,
                                configuration.GetSection("Search").GetSection("SearchColumnsUIPickerForMatter").GetSection("m

[2017-07-07 13:34] sbammer commented on #693
Was this ever resolved?  The log files at the above location tell me absolutely NOTHING about why this error is occurring.  The log is just output from the powershell session.

[2017-07-07 18:19] sbammer commented on #693
I figured it out in case anyone has this issue.  The path above MUST be empty before starting the script.  If it is not the script will fail no matter what.

[2017-07-07 20:06] premchandpl commented on #759
@przemasd Can you make a pull request of this change? Also we made a change in the search schema and that is causing the issue.

Need to add a new managed property called "MCMatterDefaultContentType". See the below screen shot for the same

![image](https://user-images.githubusercontent.com/3001352/27974862-a1400d6a-6314-11e7-97a3-643a5d16aed9.png)

1. Search for any empty refinable string. In the

[2017-07-07 20:10] premchandpl commented on #432
@Vasanth1981 Now matter center allows Additional Field On Matter Provision. Please let me know if more information is required

[2017-07-07 20:10] #432 closed

[2017-07-12 23:45] gustavnavar commented on #757
Just modify KeyVault-Config.ps2 script and remove Tenant info from appSettings in line 181:
$appSettings = @{ `
				"General:SiteURL" = $SiteURL; `
				"General:CentralRepositoryUrl" = $CentralRepositoryUrl; `
				"General:KeyVaultURI" = $kvSettings.VaultUri; `
				"General:KeyVaultClientID" = $ADApplicationId; `
				"General:KeyVaultCertThumbPrint" = $global:thumbPrint;`
				"Search:SearchResultS

[2017-07-14 11:43] sbammer opened #760 "End user documentation???"
We have just completed deploying matter center.  We are in need of end user documentation so that we (technical team) can learn how to use the product correctly as well has have something we can provide to our legal team so they can test out the product to see if it meets their needs.

Thanks

Steve

[2017-07-14 12:34] sbammer opened #761 "Error when creating a matter - step 2"
Hi - when creating a matter I receive the following error during step 2 of matter creation.  I tried unchecking the send email box - same result.  Where do I look for the cause of this?  Not much to go on here.  I don't know where to begin to figure this out.

[2017-07-14_7-33-40.pdf](https://github.com/Microsoft/mattercenter/files/1148370/2017-07-14_7-33-40.pdf)

[2017-07-14 12:43] premchandpl commented on #761
@sbammer can you look into the github issues - https://github.com/Microsoft/mattercenter/issues/715 and check whether that solution is going to solve your issue. If not let me know

[2017-07-14 12:44] premchandpl commented on #760
@sbammer Let me get back to you on this

[2017-07-14 13:32] sbammer commented on #761
Hi premchandpl - I checked and all three of those columns have Practice Groups in the MatterCenterTerms Taxonomy.  That is not the cause of the error in my case.

[2017-07-14 14:46] sbammer commented on #760
Follow up - and an example of what we need to know.  How exactly do we create new clients for our legal team to select when they try to create a new matter?  I understand the configuration Excel document's existence and it's role to provide the information to the various scripts which are executed during deployment.  One of those steps is to create the test client site collections (I had it create

[2017-07-14 16:13] premchandpl commented on #761
@sbammer Can we have a skype call and we can debug the issue. My skype id is premchand_76@hotmail.com

[2017-07-14 16:41] sbammer commented on #761
Sure – we have skype for business so I don’t think that will work.  Is there a web based one?

Steve           Bammer

SharePoint Administrator

Kemper Corporate Services
One Tower Lane, Lower Level     ,       Oakbrook Terrace        ,       IL              60181

630.368.8063<tel:630.368.8063>   /      +1 6307884782<tel:+1%206307884782>       Cell

sbammer@kemper.com<mailto:sbammer@kemper.com>
w

[2017-07-14 16:42] sbammer commented on #761
Hello,

I've made a group on Skype for us to chat, share and collaborate.
Join by click the link https://join.skype.com/AJTSqbjj5nhS

Steve           Bammer

SharePoint Administrator

Kemper Corporate Services
One Tower Lane, Lower Level     ,       Oakbrook Terrace        ,       IL              60181

630.368.8063<tel:630.368.8063>   /      +1 6307884782<tel:+1%206307884782>       Cell

sbammer@

[2017-07-14 19:52] sbammer commented on #761
Here's what I'm seeing in the logs when attempting to create a matter.

[2017-07-14_14-51-38.pdf](https://github.com/Microsoft/mattercenter/files/1149539/2017-07-14_14-51-38.pdf)

[2017-07-19 09:31] gustavnavar opened #762 "Azure CSP"
Hi,

I tried to install Matter Center in a CSP subscription, but I couldn't because this kind of subscriptions are 100% ARM.

All script commands are ARM, except 3 that create a web job in the Create-MatterCenterWebJob.ps1 script, that are ASM (e.g. New-AzureWebsiteJob ...). Is there any plan to support CSP subscriptions? Do you know any workaround for this?

By the way, what is this job for?

[2017-07-25 20:55] kwild1140 commented on #728
Hi amitabhm21... can you think of any other steps I can take to resolve this issue? I started a fresh build and deploy today and ended up with the same error message. However, now it happens all the time on the first step in the process... creating the groups.

[2017-07-26 15:18] kwild1140 opened #763 "Build / Deploy Matter Center to demos.microsoft.com tenant"
Have anyone been successful building and deploying Matter Center to a 'demos' tenant in demos.microsoft.com? I'm getting a very peculiar error message and I'm wondering if if has more to do with the 'demos' tenant than is does with Matter Center build/deploy. I've tried it with a number of 'demos' tenants and am getting the same error. Thanks.

[2017-07-26 18:36] premchandpl commented on #762
@gustavnavar The web job is for sending notifications to the users associated to the matter that is getting created. We haven't tested the matter using the CSP subscription. If we job creation is giving problem during deployment, you can comment that code and you can manually created web job after all the deployments are successfully completed

[2017-07-26 18:37] premchandpl commented on #761
@sbammer Let me know when can we have skype chat to resolve the issue

[2017-07-26 18:38] premchandpl commented on #763
@kwild1140 We are having our own tenant and we are able to successfully deploy the application under our tenant. Can you let me know what error you are getting and at what step you are getting the error so that we can diagnose the issue

[2017-07-26 18:39] premchandpl commented on #760
@sbammer I can walk through matter center demo. Let me know when do you want the demo so that I can explain all the features of matter center

[2017-07-26 18:41] premchandpl commented on #759
@przemasd I am closing this issue. Let me know if this is still an issue

[2017-07-26 18:41] #759 closed

[2017-07-26 18:46] premchandpl commented on #728
@kwild1140 Can we have skype meeting and we can look into the issue. By the way I am matter center developer and my skype id is "premchand_76@hotmail.com"

[2017-07-26 18:48] kwild1140 commented on #763
Hi @premchandpl ... please see item #728 ('=' is an unexpected token) in the Issues list. This is the error that I am getting. Thanks.

[2017-07-26 18:52] kwild1140 commented on #728
Hi @premchandpl ... thanks for the offer. For whom are you a matter center developer?

[2017-07-26 18:54] premchandpl commented on #728
@kwild1140 I am part of the developer team who developed this matter center application

[2017-07-26 19:36] kwild1140 commented on #728
Thanks @premchandpl ... I need to be on a call from 3-4 CST. When would you be available to chat?

[2017-07-26 21:08] premchandpl commented on #728
@kwild1140 I am in PST zone. May be we will chat on Friday 11-12 PST

[2017-07-26 22:07] Variel07 opened #764 "Matter Center Access"
Is anyone experiencing any issues accessing Matter Center?  The option to "create a new matter" is gone and none of the links are working.  Thanks

[2017-07-26 22:29] premchandpl commented on #764
@Variel07 Have you taken new code and deployed to your tenant? Whether all the deployment steps has been executed properly? The option to create a new matter is based on the sharepoint permissions. If the sharepoint permissions has not been set properly, then that link wont appear.

For the create new matter link to appear in matter home page:

1. There will be a list called "ProvisionMatterList"

[2017-07-27 14:27] kwild1140 commented on #728
I'll set up a skype call shortly... thanks.

[2017-07-27 15:47] Variel07 commented on #764
@premchandpl Hi! Thanks for the response.  I haven't changed anything.  I was informed by Microsoft that I need to submit a ticket to Github for assistance.  :)

[2017-07-27 20:31] Variel07 opened #765 "Cannot Access Matter Center"
I cannot access Matter Center.

[2017-07-27 21:44] premchandpl commented on #765
@Variel07 Can you let me know what is the problem? You are not able to access matter center code in git hub or you are not able to access matter center in your tenant?

[2017-07-28 02:19] Variel07 commented on #765
I am not able to access matter center as a tenant.  I posed the issue to Microsoft but they were unable to help me resolve the issue. They suggested I submit a ticket to GitHub. I can access Sharepoint but not Matter Center. Is there a way you can logon to my computer tomorrow to see what the issue may be? Thanks

    On Thursday, July 27, 2017 4:44 PM, premchandpl <notifications@github.com> wrote

[2017-07-28 15:18] sbammer opened #766 "Matter search doesn't work"
Clicking on Matters in main Mattercenter screen doesn't return anything - just a spinner.  F12 console shows this:

Error: [$resource:badcfg] http://errors.angularjs.org/1.5.8/$resource/badcfg?p0=Error%20in%20resource%20configuration%20for%20action%20%60%7B0%7D%60.%20Expected%20response%20to%20contain%20an%20%7B1%7D%20but%20got%20an%20%7B2%7D%20(Request%3A%20%7B3%7D%20%7B4%7D)&p1=get&p2=array&p3=o

[2017-07-28 16:26] Variel07 commented on #765
I am available now if you want to jump on my computer to see what the issue is. Thanks

[2017-07-28 17:07] premchandpl commented on #765
@Variel07 Will be available after 11:30 PM PST. Let me know how can I connect with you?

[2017-07-28 17:09] premchandpl commented on #766
@sbammer Can you please look int the issue where the solution has been provided
https://github.com/Microsoft/mattercenter/issues/759

[2017-07-28 17:13] sbammer commented on #766
Where do I go to fix this with the information in the post you referenced?  I’m not a developer.

Thanks

Steve           Bammer

SharePoint Administrator

Kemper Corporate Services
One Tower Lane, Lower Level     ,       Oakbrook Terrace        ,       IL              60181

630.368.8063<tel:630.368.8063>   /      +1 6307884782<tel:+1%206307884782>       Cell

sbammer@kemper.com<mailto:sbammer@ke

[2017-07-28 17:16] Variel07 commented on #765
Can you call my office number - 713-351-0307.  Thanks so much. 

    On Friday, July 28, 2017 12:07 PM, premchandpl <notifications@github.com> wrote:

 @Variel07 Will be available after 11:30 PM PST. Let me know how can I connect with you?—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-07-28 17:21] premchandpl commented on #765
@Variel07 sorry 11":30 AM PST

[2017-07-28 17:26] premchandpl commented on #765
@Variel07 I will call to that number once I reach office

[2017-07-28 17:26] Variel07 commented on #765
That time works for me.  Thank you!

    On Friday, July 28, 2017 12:21 PM, premchandpl <notifications@github.com> wrote:

 @Variel07 sorry 11":30 AM PST—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-07-28 17:33] sbammer commented on #766
I followed your fix by adding the new Managed Property - it works!  Thanks!!!!

[2017-07-28 17:33] #766 closed

[2017-07-28 18:44] kwild1140 commented on #728
@premchandpl I sent a skype invite... I guess you didn't get it. My afternoon is packed the rest of the day. I'll reach out next week and see what I can do to get us together to discuss. Thanks.

[2017-07-31 09:43] #762 closed

[2017-07-31 14:48] gustavnavar opened #767 "Bulk Upload error"
When I go to the the bulkupload view I get the following error:

Description: Error occured in the system. Please contact the administrator
Message: Exception occured while invoking the endpoint https://graph.microsoft.com/v1.0/me/mailFolders?$skip=0
ErrorCode: 500
MethodName: MakeHttpRequest
ClassName: MailMessageRepository
LineNumber: 274
StackTrace:
System.ApplicationException: Exception occure

[2017-07-31 22:36] premchandpl commented on #767
@gustavnavar In order to use Matter Bulk upload feature, in azure active directory, you need to give permission to Exchange online for Matter Center App. See the below screen shot for the same

![image](https://user-images.githubusercontent.com/3001352/28801342-ebd21b4e-7605-11e7-92a8-8115a2efb224.png)

Do the above change, save the changes and refresh the bulk upload screen and bulk upload functi

[2017-08-01 15:53] gustavnavar commented on #767
@premchandpl It did not work, /api/v1/email/getuserinboxemails continues returning an error 500. Any other suggestion?

[2017-08-01 15:59] premchandpl commented on #767
@gustavnavar Can you let me know what error you are getting?

[2017-08-01 16:04] gustavnavar commented on #767
@premchandpl These are the screenshoots:
![captura de pantalla 2017-07-31 a les 16 09 06](https://user-images.githubusercontent.com/30131949/28834858-d2e3a2a4-76e3-11e7-88db-75bb28d5dd75.png)
![captura de pantalla 2017-07-31 a les 16 10 11](https://user-images.githubusercontent.com/30131949/28834866-d894d5c4-76e3-11e7-9d4b-697f835ff95d.png)

[2017-08-01 19:40] gustavnavar commented on #767
@premchandpl  As you pointed out, granting the following permissions to Office 365 Exchange Online:
- Read mail in all mailboxes
- Read user and shared mail
- Read and write user mail
- Read user mail
- Access mailboxes as the signed-in user via Exchange Web Services
and accessing to https://login.microsoftonline.com/tenant/adminconsent?client_id=&state=12345&redirect_uri=https%3a%2f%2flocalhost%2

[2017-08-01 19:47] premchandpl commented on #767
@gustavnavar Is the issue solved now. If yes, can you close the issue

[2017-08-01 19:49] #767 closed

[2017-08-01 21:55] amitabhm21 commented on #574
Closing this issue. If this still needs attention please feel free to comment and open.

[2017-08-01 21:55] #574 closed

[2017-08-01 21:57] amitabhm21 commented on #419
@mbayo Closing this issue as there is a solution posted. Feel free to open again if needed.

[2017-08-01 21:57] #419 closed

[2017-08-01 21:58] amitabhm21 commented on #627
Closing this issue. Please re-open if needed.

[2017-08-01 21:58] #627 closed

[2017-08-01 21:59] amitabhm21 commented on #634
Closing this issue as there is no activity. Please feel free to open if needed.

[2017-08-01 21:59] #634 closed

[2017-08-01 21:59] premchandpl commented on #765
@Variel07 I am closing this issue. If you still face the issue with new matter center code reopen the same and I will help you on the same

[2017-08-01 21:59] #765 closed

[2017-08-01 22:00] amitabhm21 commented on #696
Closing this. Looks like @Jquintero190 help resolved this.

[2017-08-01 22:00] #696 closed

[2017-08-01 22:01] premchandpl commented on #764
@Variel07 This is the environment issue in your tenant and something messed up over there. Since you have taken latest code, try to deploy the latest code and if you still face the same issue, let me know the same and I am closing this issue

[2017-08-01 22:01] #764 closed

[2017-08-01 22:03] premchandpl commented on #722
@mwtall No response on this thread for a long time and closing the same. Reopen the same and I will help you to resolve the issue for you

[2017-08-01 22:03] #722 closed

[2017-08-02 07:21] dvd73 opened #768 "Libraries missing"
Hi
Check the path
mattercenter/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Jasmine/

It must contains lib folder (with subsolders), but it is missing.

[2017-08-10 16:11] rakoellner opened #769 "Step 10: Error 500 - An error occurred while starting the application."
Hi team,
I have no issues while the installation process via Office 365and publish the WebApp successfully via Visual Studio 2015:

Web App was published successfully http://mattercenter08101025.azurewebsites.net/
========== Build: 4 succeeded, 0 failed, 0 up-to-date, 0 skipped ==========
========== Publish: 1 succeeded, 0 failed, 0 skipped ==========

But the WebApp shows me: 500 Internal Server

[2017-08-10 16:14] rakoellner commented on #768
Hi @dvd73 ,

the folder is a part of the current project 👍
<img width="313" alt="mattercenter" src="https://user-images.githubusercontent.com/5038399/29180305-b0784e7a-7df7-11e7-8667-9c90ca57fbba.PNG">

Best regards
Raphael

[2017-08-12 20:01] rakoellner commented on #760
I am writing an End User Documentation and record some videos :) Ping me

[2017-08-12 21:34] rakoellner commented on #769
Log-Stream

"2017-08-12T21:33:53
System.ApplicationException: The trace listener AzureBlobTraceListener is disabled. ---> System.InvalidOperationException: The SAS URL for the cloud storage account is not specified. Use the environment variable 'DIAGNOSTICS_AZUREBLOBCONTAINERSASURL' to define it.
   at Microsoft.WindowsAzure.WebSites.Diagnostics.AzureBlobTraceListener.RefreshConfig()
   --- End of

[2017-08-12 21:35] rakoellner commented on #769
Log-Stream Part 2

2017-08-12T21:33:53
System.ApplicationException: The trace listener AzureBlobTraceListener is disabled. ---> System.InvalidOperationException: The SAS URL for the cloud storage account is not specified. Use the environment variable 'DIAGNOSTICS_AZUREBLOBCONTAINERSASURL' to define it.
   at Microsoft.WindowsAzure.WebSites.Diagnostics.AzureBlobTraceListener.RefreshConfig()
   ---

[2017-08-21 20:01] mcpsmith opened #770 "Errors while running Deploy.ps1 "exe not recognized as the name of a cmdlet""
I got many *.exe is not recognized as the name of a cmdlet" messages while running Deploy.ps1. Says Deployment completed successfully but I'm not seeing anything created in Sharepoint. Please assist. Thanks.

![image](https://user-images.githubusercontent.com/26168907/29535713-eba0bdcc-8688-11e7-8b06-3b5ecd07caa4.png)

![image](https://user-images.githubusercontent.com/26168907/29535752-1b484b62-8

[2017-08-21 20:47] premchandpl commented on #770
@mcpsmith

1. Can you please check whether the deployment excel file has been closed? (MCDeploymentConfig.xlsx)
2. Also, can you please verify have you build Microsoft.Legal.MatterCenter.HelperUtilities.sln

[2017-08-21 20:57] mcpsmith commented on #770
Yes Excel sheet was closed. I am able to build solution. I tried choosing Rebuild and get this error msg. How can I confirm the build was successful? Thanks

![image](https://user-images.githubusercontent.com/26168907/29537985-c60930cc-8691-11e7-9e19-cc26c9549998.png)

[2017-08-22 13:21] mcpsmith commented on #770
Rebooted and reran, works now.

[2017-08-22 13:21] #770 closed

[2017-08-22 13:22] mcpsmith opened #771 "Deploy.ps1 Step 6 : The remote server returned an error: (404) Not Found."
I get the following error message when running Deploy.ps1, step 6

Message: The remote server returned an error: (404) Not Found.
Stacktrace:    at System.Net.HttpWebRequest.GetResponse()
   at Microsoft.SharePoint.Client.SPWebRequestExecutor.Execute()
   at Microsoft.SharePoint.Client.ClientContext.GetFormDigestInfoPrivate()
   at Microsoft.SharePoint.Client.ClientContext.EnsureFormDigest()
   at

[2017-08-22 15:14] #771 closed

[2017-08-22 15:22] mcpsmith opened #772 "Deploy.ps1 Step 6 Error: There is no Web named... _vti_bin/sites.asmx"
Some background - I have created a site collection "legalMatters" and set the Client_Config tab to have urls that follow the following format:  [sharepointurl]/teams/legalMatters/[Client_Name]

I now get the following error at step 6 for all clients specified in the Client_Config tab.

![image](https://user-images.githubusercontent.com/26168907/29572894-88abbd40-872b-11e7-93d1-3e87a9f335d9.png)

[2017-08-24 21:53] Koroush7 opened #773 "IPage<SecretItem>' does not contain a definition for 'Value'"
Hi,

I am trying to compile one of the projects (PerfTestPlugin) and I am getting the above error, All references are there on the project. Is there anything I am missing? I have tried compiling with different versions of the Framework (4.5, 4.51, 4.53 snf 4.6) and I have used both VS 2015 Community and VS 2017 Community to no avail. The full error is

Severity	Code	Description	Project	File	Line	S

[2017-08-29 16:29] tstojecki opened #774 "Failure in Deploy-AzureResourceGroup.ps1 with an empty global:TenantName"
I am getting an error in KeyVault-Config.ps1 which is called by Deploy-AzureResourceGroup.ps1 when calling

`Set-AzureRmWebApp -Name $WebAppName -ResourceGroupName $ResourceGroupName -AppSettings $appSettings`

After debugging, the issue appears to be with the way global:TenantName is being set in Deploy-AzureResourceGroup.ps1

`$global:TenantName = $subsc.Context.Tenant.Domain`

Looking at the $s

[2017-08-30 08:42] tstojecki commented on #757
#774
I think this is the same issue. My suggestion is to change the assignment of global:TenantName from $global:TenantName = $subsc.Context.Tenant.Domain to $global:TenantName = $subsc.Context.Tenant.Directory

Removing it all together might work too, I haven't tried that.

[2017-08-30 15:45] tstojecki commented on #760
@premchandpl and @rakoellner
Do you guys have anything to share as far as end user documentation? I in the same boat as @sbammer , I have completed the deployment but not really clear on where to get started.

[2017-08-30 19:19] tstojecki opened #776 "Script finished without errors, but lists are missing"
I have gone through the deployment process per the deployment doc, it created the site collection under /teams/client and provisioned a site in azure under https://<...>.azurewebsites.net. However everything is failing now as the lists appear to be missing even through the deploy.ps1 didn't report any errors.

Here is the snippet of the console output when running .\Deploy.ps1:

![image](https://u

[2017-08-30 22:51] amitabhm21 commented on #760
This video has a feature walkthrough.
https://www.youtube.com/watch?v=1_0sIFZvnXI

[2017-08-31 08:04] tstojecki commented on #776
I debugged configurelists.exe and found that the lists are being deployed to the app catalog site. Here is the line from ConfigureLists.cs/Main that determines that based on the value from excel:

`string targetSite = listval["CatalogSiteURL"]; // Get the URL of site collection`

Is that the right location for the lists? If so, is there something that copies the lists over to a specific matter sit

[2017-08-31 11:40] tstojecki commented on #776
Per @premchandpl response in issue #764 I have checked the following:

- [x] There will be a list called "ProvisionMatterList" in sharepoint catalog site collection
- [x] Permissions for this list are broken
- [x] There will be a sharepoint group called "Provision Matter Users" and this group should have "Contribute" permissions
- [x] The login user should be part of that group

So all of that che

[2017-09-01 05:03] premchandpl commented on #776
@tstojecki Can we have skype meeting so that we can close this issue. I am in PST zone and my skype id is premchand_76@hotmail.com

We can discuss tomorrow at 10 AM PST

[2017-09-01 08:09] tstojecki commented on #776
That would be great @premchandpl
I will coordinate the meeting w/ you through email.

[2017-09-04 16:39] tstojecki commented on #776
Hi @premchandpl
I sent you two emails, waiting to hear back so we can follow-up. Please let me know if you got them.

[2017-09-05 06:21] premchandpl commented on #776
@tstojecki  Today is a holiday over here and I am busy tomorrow. Can we have this meeting on Wednesday?

[2017-09-05 07:01] tstojecki commented on #776
Yes, Wednesday is fine. I can meet at either 9 or 10 am PST, please let me
know what works for you.

Thanks,
Tomek

On Tue, Sep 5, 2017 at 8:22 AM, premchandpl <notifications@github.com>
wrote:

[2017-09-05 13:51] premchandpl commented on #776
@tstojecki  9 AM PST is fine

[2017-09-06 20:29] #772 closed

[2017-09-06 20:36] mcpsmith opened #777 "Matter Center installed, pages do not load"
I installed Matter Center without error. The Sharepoint site never fully loads, it just displays the "Please wait while Matters load" screen. I was able to successfully create a Matter but when I click on Matters from the Azure site it simply shows the loading animation and never finishes loading

![image](https://user-images.githubusercontent.com/26168907/30133320-7369e68a-9321-11e7-8fef-d669ba3a

[2017-09-06 21:42] premchandpl commented on #776
@tstojecki Closing as the issue has been resolved.

[2017-09-06 21:42] #776 closed

[2017-09-06 23:05] premchandpl commented on #774
@tstojecki Closing this as you have found out the issue. I will review it and will merge the same in the master

[2017-09-06 23:05] #774 closed

[2017-09-06 23:06] premchandpl commented on #777
@mcpsmith Can we have skype meeting to discuss this issue. My skype id is - premchand_76@hotmail.com

[2017-09-07 12:36] tstojecki commented on #777
@mcpsmith can you bring up a dev console (F12) and look for errors there?

[2017-09-07 14:03] mcpsmith commented on #777
@tstojecki
Errors on the Sharepoint Site:
![image](https://user-images.githubusercontent.com/26168907/30167249-c3bd164c-93b3-11e7-817b-44ef929821f7.png)

[2017-09-07 14:04] mcpsmith commented on #777
@tstojecki
Similar Errors on Matter Center Azure Site:
![image](https://user-images.githubusercontent.com/26168907/30167292-e622e388-93b3-11e7-9510-361ac6cc6c79.png)

[2017-09-07 14:07] mcpsmith commented on #777
@premchandpl  yes I am available on Skype - can we meet at 12:30pm EST?

[2017-09-07 14:58] tstojecki commented on #777
@mcpsmith @premchandpl  I see the same exact errors in my console, if you guys end up getting to the bottom of this issue, please respond back

[2017-09-08 07:53] premchandpl commented on #777
@mcpsmith We can meet on Monday 9:30 AM PST

[2017-09-08 10:23] tstojecki commented on #777
@mcpsmith @premchandpl
This appears to have something to do with the latest commit "Code changes to show the default values of additional content type col values" https://github.com/Microsoft/mattercenter/pull/756/commits/5dabc333bdc773f1c705d435ac7cdce83aabd9e0

I haven't been able to track it down further, but it looks like it throws a null reference exception in MatterProvision.cs when it runs

[2017-09-08 13:22] mcpsmith commented on #777
@premchandpl  Thank you! I Can we push it back a half hour to 10amPST/1pm EST on Monday ?

[2017-09-08 13:25] mcpsmith commented on #777
@tstojecki - yes I am seeing the same error in the response for /api/v1/matter

[2017-09-08 15:21] premchandpl commented on #777
@tstojecki @mcpsmith Call you look into this github issue where solution has been provided

https://github.com/Microsoft/mattercenter/issues/759

[2017-09-08 16:28] mcpsmith commented on #777
@premchandpl @tstojecki  - this worked! Thank you! Matters page and Sharepoint page both load now.

[2017-09-08 16:28] #777 closed

[2017-09-08 17:42] mcpsmith opened #779 "Rename matter center azure site so date is not in site name"
How do I rename the Azure site after deploying? Matter Center deployment appends a date string to the site name as part of the deployment. I would like to update the site name so the date does not appear.  How will this affect the backing sharepoint site/storage, etc.

[2017-09-10 07:22] Koroush7 opened #780 "Access Denied while provisions Settings.aspx and MatterCenterHome.aspx"
I am getting Access Denied error during the provisioning of the above two pages. DocumentDetails.aspx page does get provisioned without any issues. The account I am using in Azure and Office 365 are the same account that has full control both in Azure (it is the Account Administrator) and Office 365 and SharePoint Online. It has full control at https://yourcompany.sharepoint.com/ and https://yourc

[2017-09-11 04:25] nikthakur commented on #773
Hi,

I am getting the same issue. Did anyone find a resolution for this issue?

Thanks

[2017-09-11 20:40] premchandpl commented on #780
@Koroush7 In order to access settings.aspx page, the login user should be part of owners group of root site collection. Let me know if this one solves the issue

[2017-09-11 22:45] Koroush7 commented on #780
Hi premchandpl,

Thank you for the feedback. I do confirm that the user is in the Owners group both on the root site collections as we as the catalog site collection and yet I still get the access denied error.

https://yourcompany.sharepoint.com/
https://yourcompany.sharepoint.com/sites/catalog

[2017-09-11 23:04] nikthakur commented on #773
Am I missing something basic? I was able to successfully run the scripts to generate the Key vault secret by following the deployment document instructions.

It seems the O-365 site components are getting deployed correctly such as the pages etc.. This step to deploy the Web app to Azure is remaining. Without successful compilation of the solution, the deployment is failing.

Thank you.

[2017-09-12 08:47] tstojecki opened #781 "New architecture and update on the project"
Please do not take this as criticism, just my honest assessment after spending a couple of weeks deploying it, fixing some issues and trying to help through the PRs that were submitted.

I see two issues with the new architecture:
1. Cost of running it in Azure for dev/demo scenarios
2. Complexity likely affecting contributions

1) I have gone through a number of issues (along with other users) in

[2017-09-13 13:18] rakoellner commented on #769
noone?

[2017-09-13 18:20] MaartenSundman commented on #773
Looks like it's due to a version change in how Microsoft.Rest.Azure.IPage<T> is implemented

To fix it change the code to this:
`if (values != null)
            {
                foreach (var m in values)
                    secrets.Add(m.Identifier.Name);
            }

            while (values != null && !string.IsNullOrWhiteSpace(values.NextPageLink))
            {
                values = kv.

[2017-09-14 14:54] gustavnavar commented on #779
You should modify the Deploy-AzureResourceGroup.ps1 script, line 41 has  to be commented:
#$WebAppName = $WebAppName + ((Get-Date).ToUniversalTime()).ToString('MMddHHmm')

After that,  could do a fresh installation with no other issues.

[2017-09-14 20:46] premchandpl commented on #780
@Koroush7 Can we do skype meeting premchand_76@hotmail.com

[2017-09-15 17:16] Koroush7 commented on #780
Sure, I emailed you yesterday but it may have gone to your spam folder. We just need to schedule a time or I can just reach out to you over Skype. Thank you for offering to help with this.

[2017-09-15 17:57] nikthakur opened #782 "Exception while launching the Azure web site after successful deployment"
Hello everyone,

I was able to successfully deploy the various artifacts to SharePoint sites and also Azure. However when I try to navigate to the Azure web site I am getting the following expection:

An error occurred while starting the application.
TypeLoadException: Inheritance security rules violated by type: 'System.Net.Http.WebRequestHandler'. Derived types must either match the security acc

[2017-09-17 07:32] Koroush7 commented on #780
I ran step 5 (Deploy.ps1) and then tried for the 50th time. The deployment went all the way to the end without any issues. I got the 500 error after publishing but that might be a question for a different ticket.

[2017-09-17 07:32] #780 closed

[2017-09-18 07:54] premchandpl commented on #782
@nikthakur I think this is some what related to Keyvault where all your credentials, connections strings are stored

Look into this post for more information on this

https://github.com/dotnet/corefx/issues/11100

[2017-09-20 10:53] beardiedog commented on #781
Did you get any response to your points?  as somebody just starting to look into this project these are both very valid points and I was not considering that I'd be consuming much in the way of Azure resources in addition to my Office 365 subscription.

[2017-09-20 12:51] tstojecki commented on #781
@beardiedog No response

[2017-09-20 15:34] kungfulu opened #784 "VS 2015 & 2017 issues"
If I build and run in VS 2015 it gives me a .NET Core tools error saying it is only preview for VS 2015.  If I build it in VS 2017 I don't get that issue and it build fine, yet when it comes to publishing it I get an error that it is missing dependency's.  I have no problems working on steps 1-8 with no errors until I get to the publishing.  Anyone have these issues?

[2017-09-20 15:37] premchandpl commented on #784
@kungfulu The matter center application should compile with vs 2015. We haven't tested with VS 2017 and the new .Net Core version. I think it is compatible with .Net Core 1.0

[2017-09-20 15:49] premchandpl commented on #781
@beardiedog @tstojecki

Matter center application leverages both office 365 and azure for development and deployment.

From Azure perspective, the following resources has been used

1. Azure web app - For deploying the web site
2. Azure Key vault - For storing connection strings related to Azure AAD, Blobs, Redis Cache connection
3. Blobs - For Application logs, For storing matter center data to s

[2017-09-20 15:51] premchandpl commented on #769
@rakoellner Can we have skype meeting and I can look into this. My skype id is - premchand_76@hotmail.com

[2017-09-20 15:52] premchandpl commented on #779
@mcpsmith Let me know if @gustavnavar suggestion will work for you.

[2017-09-20 19:31] kungfulu commented on #784
The links on the main page under "Installation & Build" point to .NET Core 2.0.

[2017-09-20 23:05] premchandpl commented on #784
@kungfulu If you see the project.json file, you can see that .Net Core version that has been used was 1.0.0.

Just for reference from web project.json file

"Microsoft.AspNetCore.Server.IISIntegration": "1.0.0",
    "Microsoft.AspNetCore.Server.Kestrel": "1.0.0",
    "Microsoft.AspNetCore.StaticFiles": "1.0.0",
    "Microsoft.Extensions.Configuration.EnvironmentVariables": "1.0.0",
    "Microsoft.

[2017-09-20 23:05] premchandpl commented on #782
@nikthakur Let me know if you are still facing the issue

[2017-09-21 02:24] nikthakur commented on #782
Hi @premchandpl

Thanks for checking in. Yes I was able to fix the issue by creating the Client secret which was not correctly generated before.

Cheers!

[2017-09-21 10:38] tstojecki commented on #781
Thanks for the pointers around Redis @premchandpl . It still sounds like this is a bit of an overkill given the cost.

Any idea what is holding up the PRs? These are the well known bug fixes. The way the PRs are being handled is a bit discouraging.

Can you give an update on the roadmap? Is this project in maintenance mode at this point?

[2017-09-21 12:16] mcpsmith opened #785 "Error running Deploy-AzureResourceGroup.ps1 due to multiple subscriptions"
It seems like I am encountering an error because we have multiple subscriptions.  I have tried explicitly setting the subscription using Set-AzureRmContext -SubscriptionID XXXX  but it seems to revert to the wrong subscription after every login prompt.  I've started to edit the files to add the Set-AzureRmContext after every login but was wondering if there is one spot that I can update to set the

[2017-09-21 21:47] mcpsmith commented on #779
@premchandpl  @gustavnavar  thank you this worked

[2017-09-21 21:47] #779 closed

[2017-09-21 21:52] mcpsmith opened #786 "Error Step 7: Provisioning Web dashboard error, already a global admin and site collection admin"
Getting the following error at Step 7: Exception while Provisioning Matter Center page: Access denied. You do not have permission to perform this action or access this resource.

User is a global admin, term store admin and site collection admin on the app catalog.

What other kind of admin do I need to be? Can I install the Web Dashboard manually, without running through the entire Deploy-AzureRe

[2017-09-22 13:29] beardiedog commented on #781
Hi @premchandpl  I think a demo and discussion would be great if it's not too much bother.

[2017-09-22 21:10] premchandpl commented on #781
@beardiedog Can we have this demo coming Monday at around 2 PM PST

[2017-09-22 21:58] beardiedog commented on #781
If you send an email we can sort a good time darren.baldwin at tr.com

[2017-09-23 16:48] #784 closed

[2017-09-24 06:19] nikthakur opened #787 "Title of page is a <number>.aspx and the landing Page have empty web parts"
Hi,

The matter center seems to be working fine and I can create a matter. There are 2 issues:

A page is created in Client's site site pages library. The name of the page does not use the title of the matter. How do I configure the matter center to use the title of the matter?

The page has some web parts added such as the document library and RSS feed. But the page does not have tab, no tasks, n

[2017-09-24 20:28] nikthakur commented on #787
Our App catalog URL did not match the one in the code. We replaced /sites/catalog to /sites/<our catalog name>

The title of the page is still a number though. Any suggestions name the page the same as Matter name?

Thanks,

-N

[2017-09-25 07:49] amitabhm21 commented on #760
@rakoellner It would be great if you can provide your documents and video for the community, Any help is appreciated.

[2017-09-25 08:37] #781 closed

[2017-09-25 15:52] mcpsmith commented on #785
I have updated the scripts to explicitly set the SubscriptionId and this has worked.

[2017-09-25 15:52] #785 closed

[2017-09-25 15:58] mcpsmith commented on #786
Did not mean to close, this is the only remaining error with Step 7. Please assist. Thank you!

[2017-09-25 17:15] mcpsmith opened #788 "Can WebJob resources be moved to the main Matter Center Resource Group"
The Deploy-AzureResourceGroup.ps1 script created a Resource Group (cs-WestUS-scheduler) for the web jobs that differs from the Resource Group created for the other Matter Center Resources (RG-LegalMatters - this was one of the inputs requested at the start of the script).

Do the web jobs need to be in their own resource group or can they be moved to the the same resource group as the other matter

[2017-09-25 17:16] premchandpl commented on #787
@nikthakur For some scenarios the matter name should not be visible in the URL and that should be confidential. That's the reason we are using GUID. If you want the matter name and not the GUID, you have to modify the code at your end and need to publish again to your azure web site. Hope this clarifies.

In the MatterProvision.cs file, in the method, CreateMatterLandingPage, there will be, this l

[2017-09-25 17:16] #787 closed

[2017-09-25 17:18] premchandpl commented on #788
The azure web job is used for sending email notifications. We havent tested the azure web job to be in another resource group and all other resources in another resource group. We have tested the functionality be placing all the resources in the same resource group

[2017-09-25 17:19] premchandpl commented on #782
@nikthakur Can we close this issue now?

[2017-09-25 17:20] mcpsmith commented on #788
@premchandpl  - ok great, so it sounds like it is safe to move them all to the same resource group? The deployment scripts created two resource groups (one for the scheduled jobs, one for all other resources)

[2017-09-25 17:21] premchandpl commented on #788
@mcpsmith I am not sure why the scripts created two resource groups.

[2017-09-25 17:22] nikthakur commented on #782
Yes you may close this issue.

[2017-09-25 17:24] mcpsmith commented on #788
@premchandpl  ok thanks, I will proceed with moving them to the other resource group.

[2017-09-25 17:24] #788 closed

[2017-09-25 17:26] nikthakur commented on #781
Hi @premchandpl can I join the demo if possible or will it be possible to setup a separate demo? I am on PST time zone.

Thanks

[2017-09-25 21:02] premchandpl commented on #781
This is my skype id - premchand_76@hotmail.com. Just ping me to that skypeid

[2017-09-25 21:05] mcpsmith commented on #786
Hello @premchandpl  - do you have any ideas on how to resolve this and if this step can be done manually without running through the entire Deploy-AzureResourceGroup.ps1 script again? Thanks.

[2017-09-25 21:13] premchandpl commented on #786
@mcpsmith I think  the documentdetails.aspx will will be provisioned in the root site in the page library. Here are the things you can check:

1. Check whether the publishing site collection feature has been enabled for that root site
2. Also the login credentials you are using in the powershell scipt, should have full permissions to the root site collection

[2017-09-25 21:13] nikthakur commented on #781
I added your Hotmail ID to my Skype. Its awaiting your approval.

[2017-09-25 21:16] #782 closed

[2017-09-25 21:19] premchandpl commented on #781
@nikthakur I haven't got any request

[2017-09-25 22:51] Koroush7 commented on #786
Even though you have run deploy.ps1 from an earlier step trying running it again just before this step. I had this issue and what resolved it for me was to run deploy.ps1. Once I did that I was able to complete this step without any issues.

[2017-09-26 20:02] mcpsmith commented on #786
@Koroush7  @premchandpl  - thank you, rerunning deploy.ps1 seems to have resolved this issue.

[2017-09-26 20:02] #786 closed

[2017-09-26 21:11] mcpsmith opened #789 "Cannot login to azure site, are address and reply address case sensitive?"
Everything appears to have run, web app is published but I get the following error when trying to login to the Azure site:

Sorry, but we’re having trouble signing you in.
We received a bad request.
The reply address 'http://xxxxx.azurewebsites.net/' does not match the reply addresses configured for the application: 'xxx'

Is the address case sensitive?

![image](https://user-images.githubusercont

[2017-09-26 21:49] nikthakur opened #790 "Angular version"
Hi,

Is there any plan to upgrade the Angular version from 1.x currently used in Matter center to latest version of Angular?

Any guidance would be appreciated!

Thanks,

-Nik

[2017-09-26 21:59] nikthakur commented on #789
I fixed this issue by adding the mentioned reply addresses in the Reply URLs settings in Azure Active directory's App registrations. Not sure if that the best way to handle this issue. Currently we are evaluating the solution.

[2017-09-27 02:16] premchandpl commented on #790
@nikthakur Currently there are no plans to move to new version of angular. Closing this as we don't have plans.

[2017-09-27 02:16] #790 closed

[2017-09-27 02:31] premchandpl commented on #789
@mcpsmith Can you check whether the reply url in the azure active directly points to your azure web site. Can you also check whether the azure web site that has been there in the reply url is http or https in the azure active directory.

Also try to access your azure web site using https and not http.

By seeing the screen shot, I see that you are trying to access your web site using http and not

[2017-09-27 05:31] nikthakur opened #791 "View document details not linked to the document details page"
The "View document details" (image below) link is pointing to the root site url of the client. site collection Where is the configuration to point that link to the documentdetails page deployed in the catalog site?

![image](https://user-images.githubusercontent.com/19874285/30897223-efb14718-a309-11e7-8d2a-c903fb197b6c.png)

Thanks,

-Nik

[2017-09-27 05:33] nikthakur opened #792 "Webdashboard seems to be missing"
The matter center seems to be working for the most part. However I noticed that webdashboard page is not deployed.

Is this a manual step? Can someone share instructions to deploy the webdashboard page.

Thanks,

-Nik

[2017-09-27 13:46] mcpsmith commented on #789
@premchandpl  @nikthakur  - I switched to access the site via https and that worked, the reply url in Azure AD App Registraitons was https not http.

[2017-09-27 13:46] #789 closed

[2017-09-27 15:19] premchandpl commented on #792
@nikthakur Need to check your SPO environment. Let me know if we can have skype call for the same. premchand_76@hotmail.com

[2017-09-27 16:54] nikthakur commented on #792
Yes we can, I am available now till 10:30 am PST. Otherwise we can meet between 1-2 pm PST.

Thanks,

[2017-09-27 17:11] premchandpl commented on #792
@nikthakur I am available at 10:30 PM PST

[2017-09-27 17:12] nikthakur commented on #792
ok 10:30 PM, not AM? I am not able to add you to my skype for some reason. I have added you and the status is pending.

[2017-09-27 17:13] premchandpl commented on #792
@nikthakur Sorry 10:30 AM. Its ok for me

[2017-09-27 17:14] premchandpl commented on #792
@nikthakur Can I get your skype id to that email and I will add the same to my contacts

[2017-09-27 17:14] nikthakur commented on #792
I will send you an email your Hotmail address

[2017-09-27 19:50] #792 closed

[2017-09-27 20:51] mcpsmith opened #793 "Documents shown not limited to Matter Center documents"
The azure site shows ALL documents a user has access to in Sharepoint. Is there a way to limit it so only documents associated with matter center appear?

Thank you.

[2017-09-27 20:53] mcpsmith opened #794 "Restrict access to azure site and team site"
Is there a way to restrict access to the azure site? Right now it looks like anyone in the tenant can login and access the site.

[2017-09-28 18:09] nikthakur commented on #791
Hi @premchandpl, any information on this issue?

[2017-09-29 19:08] CBlaize opened #795 "File Path Limit"
`Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not write lines to file "obj\Debug\Microsoft.Legal.MatterCenter.CreateContentTypes.csproj.CoreCompileInputs.cache". The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters.	Microsoft.Legal.MatterCenter.Creat

[2017-09-29 19:15] premchandpl commented on #795
@CBlaize Try to clone the code not into your deep directory folder structure. The File path limit is windows restriction. In my step up, I cloned like this:
**C:\projects\mc**

Let me know if this helps

[2017-10-02 22:37] CBlaize commented on #795
@premchandpl Thanks for the quick response, that is exactly what I ended up doing and it worked for me.  Still working through issues with the deployment scripts.

[2017-10-03 19:43] #795 closed

[2017-10-03 22:02] nikthakur opened #796 "Matter center page hangs"
Hi,

I have deployed Matter center in a separate tenant. For most part the Matter center features works where I can create a new matter and it creates all the relevant artifacts, etc.

The matter page which list all the matters keeps on spinning. In the console following exceptions are displayed:

Failed to load resource: the server responded with a status of 404 (Not Found)
%7B%7BattachmentInfo.i

[2017-10-04 15:02] CBlaize opened #797 "Issue with setting StorageAccount for Susbcription"
`New-AzureSchedulerJobCollection : ForbiddenError: The subscription is not entitled to use the resource
At C:\src\solution\Deployment\Scripts\Create-MatterCenterWebJob.ps1:24 char:19
+     $jobCollection = New-AzureSchedulerJobCollection `
+                      ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : CloseError: (:) [New-AzureSchedulerJobCollection], CloudException
    + F

[2017-10-05 18:59] mcpsmith opened #798 "Matter gets created but no notification is sent"
No email notifications get sent when a matter is created.  How do I turn on notifications?

[2017-10-05 19:38] mcpsmith commented on #796
Hello @nikthakur  - I was getting a similar error (issue #777) and followed the solution in issue #759.  759  walks through the steps of adding a new managed property called "MCMatterDefaultContentType".  This may resolve your problem

[2017-10-05 20:12] nikthakur commented on #796
Thanks @mcpsmith yesterday I followed the steps to add managed property and that resolved the issue with Matter center page. I will close the issue.

[2017-10-05 20:12] #796 closed

[2017-10-06 08:54] hackaware opened #799 "Missing file config.js"
The file
'https://github.com/Microsoft/mattercenter/blob/master/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Web/wwwroot/index.html'
refers the 'app/config.js'. The file config.js is not present in the app folder.

[2017-10-06 13:26] mcpsmith commented on #793
@premchandpl  is there anyway to limit the documents so only matter center docs appear?

[2017-10-06 18:12] amitabhm21 commented on #793
@mcpsmith The search scope can be defined that can be then used to get the results in the Azure site. By default the code uses the default search.
Depending on your site structure you have for Matter Center you can then create a rule in the search scope. One example would be that for all sites created for Matter Center you can prefix the sites with "MC_" then on the search scope rules you can limi

[2017-10-06 18:26] premchandpl commented on #799
@hackaware The config.js will get generated from the admin url. Please follow the below steps and this may resolve the issue:

go to the following url:

https://yourmattercentername.azurewebsites.net/#/admin and click the two links present on that page. See the below picture for the same

![image](https://user-images.githubusercontent.com/3001352/31292640-189c15a0-aa89-11e7-95a8-a93dd12b00e1.png)

[2017-10-07 02:05] premchandpl commented on #791
@nikthakur There is one small bug in the code and I know the fix for the same. If you want to fix the same from your end, please do the below steps.

Open the javascript file in any text editor - \tree\master\cloud\src\solution\Microsoft.Legal.MatterCenter.Web\wwwroot\app\dashboard\documentDashboardController.js file. There will be one method in that file called vm.gotoDocumentUrl.

Replace the be

[2017-10-07 05:15] nikthakur commented on #791
That fixed the issue, thanks you!

[2017-10-07 05:15] #791 closed

[2017-10-09 10:50] gustavnavar opened #800 "Outlook add-in does not upload emails when attachments are present"
Hi,
when I try to upload an email from Outlook 2016, I always get the same  behavior:
- if the email has no attachment, I can upload the email to a matter. The result shown in Outllok add-in is ok:

![captura de pantalla 15](https://user-images.githubusercontent.com/30131949/31334709-af0cbe6e-acef-11e7-8a7d-97da89c40374.png)

and the file is uploaded correctly:

![captura de pantalla 16](https://u

[2017-10-11 18:21] mcpsmith commented on #793
@amitabhm21  - thank you - would the search scope have to be specified on the home page or on the teams/<client site> pages?

[2017-10-16 06:37] psahlani opened #801 "Updating the App ID"
none of the links seem to be working on our install of Mattercentre.

We suspect it is because the App credentials have expired. we are not sure how to replace / update the app ID from sharepoint.

[2017-10-16 13:29] mcpsmith opened #802 "Are the Scheduler Job Collections used to send notifcations?"
There are two Scheduler Job Collections that are created in the Resource Group. What do they do? They are both scheduled with an end-by date of 2015.  Is this the reason Matter Center notifications do not work?

![image](https://user-images.githubusercontent.com/26168907/31614443-71c214e0-b254-11e7-899f-f0628095bea6.png)

[2017-10-16 18:03] mcpsmith opened #803 "View document details button not working"
Nothing happens when clicking on the View Document Details button. I have already tried the steps listed in issue #791 https://github.com/Microsoft/mattercenter/issues/791

[2017-10-16 18:03] premchandpl commented on #802
@mcpsmith The web job work is to send notifications. I haven't observed the end date issue as I have stopped this job in my matter center application.

If no emails are coming, try to extend the expiry date and you can check the same.

[2017-10-16 19:54] mcpsmith commented on #802
@premchandpl  I have set the end to "Never" and still do not get any emails when creating matter.

[2017-10-16 19:57] premchandpl commented on #802
@mcpsmith Can you check web job log details and see whether any exceptions are logged?

[2017-10-16 20:09] mcpsmith commented on #802
@premchandpl  - I have checked the activity log for the job in azure.poral.com and do not see any errors

[2017-10-16 20:11] mcpsmith opened #804 "404 error on Matter Page"
I get the following error when view Matter Details:

Failed to load resource: the server responded with a status of 404 ()
jquery-1.11.1.min.js Failed to load resource: the server responded with a status of 404 ()
spCommon.js Failed to load resource: the server responded with a status of 404 ()
MatterLanding.js Failed to load resource: the server responded with a status of 404 ()
2/sites/catalog/S

[2017-10-16 20:33] mcpsmith opened #805 "Matter Settings for Client not saving"
Some of the Matter Settings for a client do not get saved. Specifically the default matter type and the team permission settings are not getting saved.  The include email/calendar/tasks/feeds work and Set matter options DO get saved.

[2017-10-16 20:57] mcpsmith commented on #793
@amitabhm21  - these instructions are for Sharepoint 2007. We are using Sharepoint online. Do you have instructions on creating Search Scopes in Sharepoint online. We only have a single client site so ideally we could limit it so only documents from the client site appear.

[2017-10-17 18:14] mcpsmith opened #806 "Republishing Web project has broken Matter Center, pulling from multiple tenants"
I tried to update some links in appsettings.json (sites/catalog to sites/ourCatalogName) to resolve the issue described in #804. After publishing the web project, the matter center pages are completely broken and appear to be trying to access data from a different tenant.
![image](https://user-images.githubusercontent.com/26168907/31681535-85d4c6de-b345-11e7-93d3-23fd5f015303.png)

[2017-10-17 18:29] premchandpl commented on #806
@mcpsmith Can you whether all mattercenter javascript files are there in your root spo collection

[2017-10-17 19:21] mcpsmith commented on #806
Yes they are there (see image below).  The problem is that the url was wrong because our app catalog is called "apps" and not "catalog". I updated per #804, republished and I am not sure why it is trying to pull from a different tenant now.

![image](https://user-images.githubusercontent.com/26168907/31684745-b79ae76c-b34e-11e7-9aa8-43838adaa024.png)

[2017-10-17 19:23] premchandpl commented on #806
@mcpsmith Need to check your and we can do some skype meeting for the same. We can do this tomorrow. My skype id is premchand_76@hotmail.com

[2017-10-17 19:23] premchandpl commented on #806
@mcpsmith I mean your site collection

[2017-10-17 19:24] mcpsmith commented on #806
@premchandpl  thank you! What time will work for you? I am available after 10am EST

[2017-10-17 19:27] premchandpl commented on #806
@mcpsmith will be available at 11:30 AM PST

[2017-10-17 19:29] mcpsmith commented on #806
@premchandpl  - ok, I will reach out to you at 11:30AM PST

[2017-10-18 18:44] mcpsmith commented on #806
hi @premchandpl  - I am mpandarakalam@shawmut.com - trying to IM you on skype now. Thanks.

[2017-10-18 18:58] premchandpl commented on #806
@mcpsmith stuck in some meeting. Will join in 15 min. Will that be ok?

[2017-10-18 18:58] mcpsmith commented on #806
@premchandpl  - yes thank you!

[2017-10-18 20:14] #804 closed

[2017-10-18 20:14] #806 closed

[2017-10-18 20:59] #803 closed

[2017-10-18 20:59] mcpsmith commented on #803
Works in IE - user/browser error.

[2017-10-18 21:01] mcpsmith commented on #806
Had to make updates to spcommon.js, matterlanding.js, appsettings.json.

[2017-10-18 21:13] #802 closed

[2017-10-18 21:13] #798 closed

[2017-10-18 21:13] #794 closed

[2017-10-19 10:23] vednah opened #807 "The given guid does not exist in the term store" when creating Matter"
When I try to create a new matter, I receive an error on the "Create and Notify" button. It gets through Step 1 but throws an error on step 2  ("Step 2/3: Assigning permissions to matter library and OneNote library, associating Content Types, creating view and matter landing page..."). The error I receive is as per below:
Message: The given guid does not exist in the term store
ErrorCode: 500
Meth

[2017-10-19 21:58] mpusarla opened #808 "unable to publish matter center web project to azure webApp from an Azure VM"
As part of Step:10 in the Matter Center Build and Deployment Guide, I am able to publish the matter center web project successfully when running locally but I am unable to publish the same project from a Windows 10 or Windows Server 2016 Azure VM.  It fails with the following error:

bower SHA-1#*                                       cached https://github.com/linkgod/SHA-1.git#0.1.1
bower SHA-1#*

[2017-10-19 22:05] mpusarla opened #809 "matter center outlook add-in is not visible"
I am able to get the Matter Center webApp and word add-in installed and working successfully. Having trouble getting the outlook add-in to working.
Added the plugin to Office 365 -> Exchange Admin Center and provided access to Everyone.
I can also see the matter center beta add-in in the Admin Center -> Service & Add-in's. I gave access to everyone and configured it to be enabled. When I navigate

[2017-10-20 16:31] mpusarla commented on #809
This is working. It took sometime for the add-in to showup.

[2017-10-20 16:31] #809 closed

[2017-10-20 19:15] mcpsmith opened #810 "Key Vault Secrets, setup General-AdminUsername and General-AdminPassword"
The matter center Key Vault Secrets has my credentials for General-AdminUsername and General-AdminPassword. I'd like to swap this with a service account's credentials. What rights does the service account need?

Thank you,

[2017-10-23 13:55] mcpsmith opened #811 "Office add-in, where to upload manifest file"
Where do I go to manually update the Office add-in/upload the manifest file? It does not show up as an option.

Thanks.

[2017-10-23 20:13] mpusarla commented on #808
This is fixed. I cleared the bower cache and installed the bootstrap library manually. Was able to publish successfully.

[2017-10-23 20:13] #808 closed

[2017-10-24 01:17] vednah commented on #807
Can anybody please advise on the above error?

Any help will be much appreciated.

Vednah

[2017-10-24 03:47] premchandpl commented on #807
@vednah  can you please look into the solution provided in this github issue
https://github.com/Microsoft/mattercenter/issues/655

[2017-10-24 03:49] premchandpl commented on #810
@mcpsmith The admin credentials should have email enabled and this is used when sending notification emails

If I come across anything I will let you know

[2017-10-24 03:51] premchandpl commented on #811
@mcpsmith Goto exchange online, and click on addins link and you need to upload the manifest file over here using the addins dialog link

[2017-10-25 18:48] #761 closed

[2017-10-25 18:49] amitabhm21 commented on #728
Is this issue still open? @kwild1140

[2017-10-25 18:49] #748 closed

[2017-10-25 18:51] amitabhm21 commented on #758
The average cost would depend on the topology and scale options. When you say massive enterprises can you elaborate the topology you have in mind ?

[2017-10-25 18:51] #757 closed

[2017-10-25 20:51] kwild1140 commented on #728
No... did not get a resolution either. We're thinking it has something to do with the way Azure is synched / linked to the demos.microsoft.com demo sites. We gave up.

[2017-10-26 01:16] vednah commented on #807
Thanks for your reply.

I already had a look at issue #655 before posting. This solution didn't work for me.

[2017-10-26 22:44] heckshmek commented on #769
I am also seeing this same issue. Were you able to find a solution?

[2017-11-01 19:08] mcpsmith commented on #810
@premchandpl  - I am having trouble swapping out to use a service account's credentials instead of my own. Where can I find more information on debugging this issue/what permissions the service account needs. Thank you.

[2017-11-01 19:09] mcpsmith commented on #811
@premchandpl  - There is a Microsoft Word addin that did not get installed with the deployment. How can that be deployed? Thank you.

[2017-11-03 15:40] mpusarla commented on #797
Are you able to figure out the fix for this issue? I am running into the same problem.

[2017-11-06 01:01] vednah commented on #807
Can someone please help or advise on this issue?

Thanks
Vednah

[2017-11-06 13:45] JRRavas opened #812 "Uninstall Matter Center 1.0"
Is there a set of instructions or some automated process to uninstall Matter Center 1.0?

[2017-11-06 23:51] Good-Kamalpandey commented on #717
Unlock you script and try to run Deployment script again

[2017-11-07 02:00] premchandpl commented on #811
@mcpsmith We can discuss this on wednesday. Can you ping me on skype on wednesday

[2017-11-07 02:01] premchandpl commented on #807
@vednah we can discuss this on wednesday. Can you please ping me to my skype id - premchand_76@hotmail.com

[2017-11-07 14:11] mcpsmith commented on #811
Yes what time works for you? @premchandpl

[2017-11-08 16:46] mcpsmith commented on #811
hello @premchandpl  - I am available all day, EST. Please let me know your availability. How about 3pm EST ? Thank you!

[2017-11-10 12:33] hackaware opened #813 "CSProj is not updated"
The file https://github.com/Microsoft/mattercenter/blob/master/tree/master/cloud/src/solution/Microsoft.Legal.MatterCenter.Jasmine/Microsoft.Legal.MatterCenter.Jasmine.csproj here refers "lib" folder. But I could not locate these files. Either these files are missing or latest csproj is not checked in.

[2017-11-14 02:58] vednah commented on #807
Hi,

I've added you to Skype using my work account timie.pothunnah@empired.com. Skype is still showing as pending.

Can we please schedule a Skype chat? When will be a good time for you? I'm in Perth, Australia (UTC+8).

Thanks

[2017-11-14 14:36] mcpsmith commented on #810
Hello @premchandpl  - do you have some time to Skype and resolve this issue today? Thank you.

[2017-11-14 22:12] heckshmek opened #814 ""You do not have permission to create matter for this client" error creating any matter"
After deployment of all SharePoint Online and Azure assets, I am trying to now create a new matter. I see four clients - which I added via the MCDeploymentConfig.xlsx file - but when I select any of them to create a new matter, I get the error "You do not have permission to create matter for this client" as seen below...

![image](https://user-images.githubusercontent.com/33137916/32807175-3f9edd6

[2017-11-14 23:41] premchandpl commented on #814
@heckshmek Need to look into your environment then will be knowing the issue. Can you ping me to my skype premchand_76@hotmail.com

[2017-11-14 23:50] premchandpl commented on #810
@mcpsmith Can we see this tomorrow. Ping to my skype - premchand_76@hotmail.com

[2017-11-15 18:31] heckshmek commented on #814
Thanks @premchandpl! You should have received a message this morning. Looking forward to working with with you on this.

[2017-11-16 17:15] heckshmek commented on #814
Thank you for your help on this @premchandpl!
The root cause for this and fix was the following...
Root cause:
The client's SharePoint site collection (Microsoft in this case) was missing a list called "Matter Configurations".
On the "Matter Configurations" list, there has to be a column called "ConfigurationValue" (column type being "Multiple Lines of text", plain text).
Permissions for this list

[2017-11-16 17:45] scottgolightly opened #815 "Customizing the OneNote notebook for each matter"
When a user creates a new matter a OneNote notebook is created in SharePoint. In our case we have some standard sections and pages that we would like to have in that notebook.
Is there a way to change the notebook that is created?

[2017-11-16 17:52] premchandpl commented on #815
@scottgolightly  In the solution **@projectpath\Microsoft.Legal.MatterCenter.Web\wwwroot**, there will be one file called "**Open Notebook.onetoc2**". We are using that one note to create onenote notebook. You can modify that template the way you want and re-deploy the solution to azure web site and this should solve your problem.

[2017-11-16 18:20] heckshmek opened #816 "Matter Center Home (MatterCenterHome.aspx) page does not exist in SharePoint Online"
On the main landing page on the Azure Matter Center site, there is a link to "Go to Matter Center Home"

![image](https://user-images.githubusercontent.com/33137916/32907948-3959f590-cabf-11e7-96d1-c5921216704b.png)

That page does not exist on the root site collection in SharePoint online where this redirects to:

![image](https://user-images.githubusercontent.com/33137916/32908055-9d222980-cabf-

[2017-11-16 18:44] heckshmek opened #817 "SharePoint Online page to View Matter Details does not exist"
Opening a specific Matter's "View matter details" goes to a site page in SharePoint that looks like it is missing some custom UI - look and feel. What assets are missing?

![image](https://user-images.githubusercontent.com/33137916/32908319-6c9dc3c2-cac0-11e7-87a9-2c81877c7a6a.png)

Based on what we have seen in video demos it looks like these pages for different matters should have a specific UI

[2017-11-16 22:01] mpusarla commented on #797
This is fixed. You need to register the scheduler resource provider within the subscription. It is not registered by default.

[2017-11-16 22:09] mpusarla commented on #773
Besides the above change, I had to change the keyvault version to 2.3.2 and keyvault.webkey to 2.0.7 in the PerfTestPlugins packages.config

[2017-11-16 22:13] mpusarla commented on #817
App catalog name is hardcoded to catalog in the scripts in a lot of places. Changing the name to anything other than catalog will require tweaking the scripts manually. Just search for /sites/catalog in both the Helper and Matter Web solution and try replacing them with your app catalog name.

[2017-11-16 22:18] mpusarla commented on #810
I added the Office 365 domain admin account to the Azure subscription as co-administration (Azure Portal -> Select Subscription -> Add User -> search for Admin user by -> Accept Invite -> Update the user to co-admin) and made the admin user global admin on the default Azure Active Directory (Azure Portal -> Users and Groups -> All Users -> Admin User -> Directory Role -> Global Admin)

[2017-11-17 20:33] heckshmek commented on #817
Thanks, @mpusarla -- in an effort to minimize changes on provided scripts, etc. I deleted the catalog site we had (sites/apps) and recreated it as /sites/catalog. I ran the Deploy.ps1 script again, to create a couple other clients and re-deployed solution as well. Nothing changed on the clients we had before, or new clients provisioned. Still looks like some assets are missing to display the Share

[2017-11-17 22:21] heckshmek commented on #817
I think my issue is related to what was reported on Issue [#588](https://github.com/Microsoft/mattercenter/issues/588) because I am missing the config.js referenced there.
Looking at what assets are currently out there at [THIS](https://github.com/Microsoft/mattercenter/tree/master/tree/master/cloud/src/deployments/Static%20Content/Matter%20Center%20Assets/Common%20Assets/Scripts) location there a

[2017-11-17 22:27] heckshmek commented on #814
Is there any documentation or explanation you can provide on **when** an item is supposed to be created in the **Matter Configurations** list and what sets the value for the ConfigurationValue field?

[2017-11-17 23:06] nikthakur opened #818 "Active directory groups"
Hello,

Is it possible to add an Active directory groups to assigned a team in Matter center "Assign Permission" tab?

Thanks,

N

[2017-11-20 22:58] scottgolightly commented on #815
I have tried to customize that file but I think I am getting tripped up by the way that OneNote stores its files. If I add a section to the notebook named Test Section, OneNote creates a file called Test Section.one in the same directory. I have tried changing SPList.cs to upload that .one file and also tried saving the notebook as a .onepkg file and having SPList.cs upload that file but in both c

[2017-11-23 07:01] nikthakur opened #819 "Edit matter?"
Hi,

Is it possible to edit a created matter?

Thanks,

N

[2017-12-06 15:42] mcpsmith commented on #810
@mpusarla @premchandpl  - are there any issues with moving the matter center resource group to a new subscription? This would give us more flexibility in the rights we can assign to the service account.

[2017-12-09 18:54] nateborland opened #820 "500 error after install (matter/cancreate)"
Fresh deployment.  When first trying to load the Matter Center page, I see the following "404" error that actually includes a 500 error.  The error appears on every page I try to access in Matter Center.

Chrome details attached as well.

Any ideas?

![matctrerror](https://user-images.githubusercontent.com/12765603/33798540-fbb24214-dcdf-11e7-8b00-e3ee13897815.png)

![matctrerrordetail](https://us

[2017-12-09 23:11] nateborland commented on #820
Redeployed - error gone.

[2017-12-09 23:11] #820 closed

[2017-12-18 15:59] poovarasan14 opened #821 "Error while running Deploy-AzureResourceGroup.ps1"
1. Six resources got created.
2. Getting an error while creating result source ID and when provisioning web dashboard.
Screenshots are attached.

Help or guidance is much appreciated.
Thanks in advance
Poovarasan
![ger resource id issue](https://user-images.githubusercontent.com/17897443/34115002-54c418f8-e43a-11e7-8a92-5340c28a4200.png)
![provisioning web dashboard](https://user-images.githubuser

[2018-01-03 23:19] scottgolightly opened #822 "Email notification of new matters not being recieved"
When we create a new matter or update a matter the users are not receiving email notifications of the change. We have checked the sharing settings in Azure AD and the setup documentation and believe that we have everything set up correctly. We are not seeing errors in Azure or SharePoint.
We have SharePoint online and (for now) Exchange on-premises.
Is there somewhere that I need to set the URL/Se

[2018-01-09 17:22] Good-Kamalpandey opened #823 "Solution building issue"
I have download solution from github and trying to build in order to deploy  getting issue

![2018_01_09_12_20_28_microsoft legal mattercenter helperutilities_microsoft_visual_studio_adminis](https://user-images.githubusercontent.com/14984405/34733837-c24fdee4-f537-11e7-98e0-c82d48469589.png)

Help appricited

[2018-01-09 17:25] Good-Kamalpandey opened #824 "Deploy.ps1 script issue"
I'm trying to run Deploy script from PowerShell ISE and PS command prompt  both times get issue

![2018_01_09_12_24_05_administrator_windows_powershell_ise](https://user-images.githubusercontent.com/14984405/34733966-276c4060-f538-11e7-825c-0190e1af8fc1.png)

Thanks !

[2018-01-09 17:28] premchandpl commented on #824
@Good-Kamalpandey Can you please check deployment excel file and the data has been properly filled in

[2018-01-09 17:29] premchandpl commented on #822
@scottgolightly Notification Emails are generated by Azure web jobs. Can you please redeploy the web job project, to azure portal under the same matter web app

[2018-01-30 14:54] Alen-Mrkalj opened #825 "Access denied when running ProvisionWebDashboard"
When running ProvisionWebDashboard utility I get "Access denied" error while executing the first clientContext.ExecuteQuery statement in CreateMatterCenterPage method.

The strange thing about it is that I have all the permissions on the SharePoint site where I am trying to provision the pages with ProvisionWebDashboard utility. In this case my account is the site administrator.

The exception mes

[2018-02-08 00:28] Variel07 opened #826 ""Create New Matter" has Disappeared - No Links in MC Work"
The links in MC are not working and the "Create New Matter" is not appearing on page.
![image](https://user-images.githubusercontent.com/30481152/35948959-bc96731e-0c34-11e8-88cb-30b8565a869a.png)

[2018-02-18 22:00] tgarmon commented on #811
mcpsmith, I would be happy to pay for your time on skype to assist us through some minor issues that we have after deployment. How can we touch base?

[2018-02-19 20:31] tgarmon opened #827 "Need to edit Outlook plugin to point to correct application"
Needless to say we have had a few issues with deploying this solution. One of which was self inflicted. I installed two separate matter center applications on azure and deleted one. However, the one I deleted was the more recent of the installs, which left Sharepoint pages with the wrong application ID address. I have managed to fix the Sharepoint issues by editing the pages after exporting, editi

[2018-02-19 20:36] Variel07 opened #828 "Matter Center Support"
I have tried fixing the problem with Matter Center we are having but not able to. Is there a company anyone can suggest that can offer management and support? Thanks

[2018-02-19 21:29] tgarmon commented on #495
I am having the exact same issues but cannot find a solution. What did you change in the settings fix this issue?

[2018-02-19 21:34] Vasanth1981 commented on #495
Make sure you have set the custom properties for each terms that you have created in Terms Store.
![image](https://user-images.githubusercontent.com/21088333/36397946-5071e718-158a-11e8-979a-3f97bb907990.png)

[2018-02-19 21:34] WTgenco opened #829 "Step 7 Error - Client.SubscriptionID null"
Hi, I am getting this error when running Deploy-AzureResourceGroup.ps1:

`Transcript started, output file is MCDeploy20180219-140635.log`
`Reading from template.parameters.json file...`
`PS>TerminatingError(New-AzureRmResourceGroup): "The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: 'this.Client.SubscriptionId' cannot be null."

[2018-02-19 22:14] WTgenco commented on #829
SOLVED

It means a guy needs to get a valid Azure subscription first. The code calls home looking for the Azure subscription ID in the cloud. If one isn't present, this error results. An Azure AD account is not the same as an actual Azure subscription.

[2018-02-19 22:14] #829 closed

[2018-02-20 00:34] tgarmon commented on #495
DO they need to be in order as displayed in your screenshot, or can they be
in any order?

Tom

On Mon, Feb 19, 2018 at 3:34 PM, Vasantha P Thomas <notifications@github.com

[2018-02-22 14:38] anoop7181 commented on #826
This is mainly to do with permissions . Did you check if user has permissions on the Matter Center list.

[2018-02-22 14:40] anoop7181 commented on #827
Hi @tgarmon ,

Did you try to change in the outlook manifest file and upload it manually into add in template in office 365 ?

Regards
Anoop

[2018-02-22 14:42] anoop7181 commented on #825
Hi @Alen-Mrkalj ,

Most of the items i got this exception is when site url entry in config excel is wrong or user didn't have the owner permissions on the site.

Regards
Anoop

[2018-02-22 15:05] Alen-Mrkalj commented on #825
Thanks @anoop7181
Actually something completely different caused this issue in my case. I will share it if anyone else has this issue. The issue was that custom site scripting was not allowed on my site. To allow custom scripts the following PowerShell command can be used:

 Set-SPOSite <Site URL> -DenyAddAndCustomizePages 0

This setting can also be changed from UI (SharePoint admin center > sett

[2018-02-22 15:17] #825 closed

[2018-02-22 16:26] tgarmon opened #830 "Error 500 after web application deployment"
I have to say, I was very excited to deploy this solution, but after spending over 30 hours with multiple deployments on fresh accounts, I am rather at my wits end. I've gone from excited to desperate to get this running before i put any more IT money down a black hole. I am willing to pay to solve this issue, please email me at tgarmon@wcwpllc.com, or I will happily take suggestions. From running

[2018-02-22 16:56] tgarmon opened #831 "Term Store Client and Practice Area Settings"
I have not found much documentation on this particular step and find the lack thereof quite puzzling. I have attached screenshots of the term settings that I now have, and have no idea if they are correct, Any help would be greatly appreciated.

![term2](https://user-images.githubusercontent.com/26411605/36552175-d9e75998-17be-11e8-957f-ab77a1c2eebb.png)
![term3](https://user-images.githubusercont

[2018-02-22 16:58] tgarmon commented on #828
Would love to know the answer to this. We have it deployed, but still having issues. Would LOVE to pay someone which experience to help us. I'm about ready to throw in the towel, as apparently it takes a genius to deploy this solution.

[2018-02-22 17:00] tgarmon commented on #827
Tried all of that. We could not get the original plugin to remove from the system. I was on the phone for an hour with an Office 365 expert and we tried everything; so i setup a new separate tenant account and we have deployed there, but still having issues, new issues. Error 500.

[2018-02-22 17:09] tgarmon opened #832 "404 Stylesheet issues when loading settings page."
Settings page tries to pull a css file but there is a 404. This is the third issue I have published today from this fresh install on a clean, new tenant for both azure and office 365.

![settingspage](https://user-images.githubusercontent.com/26411605/36552925-b2eef43e-17c0-11e8-9370-759eb88f34d8.png)

[2018-02-22 17:37] Variel07 commented on #826
Hi Anoop,
Thanks for the feedback.  We have checked permissions in the past and it didn't fix the issue.  I did find another issue (#45 https://github.com/Microsoft/mattercenter/issues/45) that someone was having dealing with the same problem.  I tried following the steps it suggested to fix ours, but it's way over my head. Do you know of a company or service that can offer support?  Thanks - Pat

[2018-02-22 18:55] tgarmon commented on #102
Claire, are you available to hire? Please email me at tgarmon@wcwpllc.com if you are or can refer someone, We are a small firm. We have azure and E5 office 365 and have published Matter Center web application, but have a couple of issues that need analyzing and resolving.

[2018-02-23 01:06] tgarmon commented on #662
@tinsheep I am using your code for this deployment and am also having the exact same issue here. I am very willing to pay you to fix this issue for me. We are so close having this project ready, and we cannot get around this issue after spending many hours.

@premchandpl , if you have a solution, please post it. The deployment guide does not address this as the link to the for the details has been

[2018-02-23 21:14] tinsheep commented on #662
@tgarmon worked for me and should work for you - deployed it successfully with VS2017 - for some reason which i have not resolved yet i can only make it go when the webapp is in the same tenant as the matter center deployment.

[2018-02-23 23:31] tgarmon commented on #662
@tinsheep, we have found the issue. Default address in your fork were not updated to our AD address for the application. Another snafoo occurred when the same happened with the resource group name. We are going to make those changes, and try this again next weekend.

[2018-02-26 18:36] subashsethy opened #833 "CanCreate matter error"
Hi , I am able to deploy the solution. But after the page loads it is trying to access the api method can create and it is failing there as I am getting 500 error.
This is the below error messsage
**AADSTS240002: Input id_token cannot be used as 'urn:ietf:params:oauth:grant-type:jwt-bearer' grant.
Trace ID: ce2b03f9-721d-48d7-bae6-57f6d2460100
Correlation ID: 2c69abf6-c8cf-48d6-8e3e-98cc06fbc5a1**

[2018-03-07 15:46] Good-Kamalpandey commented on #828
Does anyone have working solution? Please add here

[2018-03-09 02:43] #832 closed

[2018-03-09 02:44] #831 closed

[2018-03-09 02:44] #827 closed

[2018-03-20 22:02] adrenaline1073 opened #834 "Install Error"
![2018-03-20_17-59-39](https://user-images.githubusercontent.com/6031724/37685119-a8f915e2-2c68-11e8-8c9b-7ae59a85d691.jpg)

I got through most of the install until create-mattercenterwebjob.ps1

Any help on what I missed would be welcomed.

[2018-03-21 00:00] adrenaline1073 commented on #834
Ok I figured out that my subscription name was actually "Free Trial" now I'm stuck on the second error.  The documentation is a bit confusing.

[2018-03-26 21:48] ArnoHarteveld commented on #824
The error occurs if there is a parsing error with the configuration data in the excel file.

[2018-03-27 22:57] ArnoHarteveld commented on #716
Did you find a solution?

[2018-03-28 20:52] Good-Kamalpandey opened #835 "deployment issue"
can anyone  suggest what I'm missing,

Logs 👍
3/28/2018 11:56:46 AM - Create Managed Properties
3/28/2018 11:56:46 AM - Online Deployment...
3/28/2018 11:56:46 AM - Successfully created Managed Properties
3/28/2018 11:56:46 AM - Step 1a: Create groups and adding users to it
3/28/2018 11:56:56 AM - Creating group and adding users to it failed

[2018-03-28 20:55] Good-Kamalpandey commented on #824
setup was not correct

[2018-03-28 20:55] #824 closed

[2018-04-02 03:01] adrenaline1073 commented on #593
This should not me that hard, there should be step by step workable instructions.

[2018-04-03 22:04] SofianeBen commented on #830
Have you identified a solution for this issue>

[2018-04-04 19:50] myao1 opened #837 "Delay on creating new matters."
In several tests, there has been a noticeable delay between creating a new matter and their actual creation:

- Clicking "Create new matter" took around 32 seconds
- Clicking "Assign Permissions" took around 7 seconds
- Clicking "Create and Notify" took 142 seconds

Is there a reason for this or a potential fix?

[2018-04-04 19:52] myao1 opened #838 "Outlook won't upload multiple documents"
If we try to upload multiple documents through Outlook (11 or so), it goes through the motions but doesn't complete the upload. There is also no error message letting us know it wasn't successful.

[2018-04-05 22:11] tgarmon commented on #830
No, we have not. We have tried on multiple machines. That's why I am reopening this issue.

[2018-04-05 22:47] umeboshi2 commented on #830
This issue may be related: Microsoft/Dynamics-AX-Integration#5

[2018-04-09 20:33] tgarmon commented on #830
@umeboshi2 , I changes the "oauth2AllowImplicitFlow": true, It was set to false in the manifest.

[2018-04-09 21:05] adrenaline1073 commented on #581
After a hell of a long run with this 500 error, and installing it at least 30 times... after I clicked this button for the permissions it works for me.
![2018-04-09_16-59-57](https://user-images.githubusercontent.com/6031724/38522961-25400a84-3c18-11e8-9f18-b93b4b3ab0d4.png)

[2018-04-11 23:55] tgarmon commented on #830
This did not resolve the issue.

[2018-04-17 00:25] adrenaline1073 commented on #830
@tgarmon I found that all my issues were solved when I was setting up the permissions, I was adding them but not applying them in azure.  Mind you it took me like a month to fix it though.  Hope that helps.

[2018-04-25 01:48] rvn2k commented on #593
Hey guys.. need someone to install Matter Center for me on a virtual machine, send me your price to nicolasr@gmail.com

Thanks 😀

[2018-04-25 03:26] adrenaline1073 commented on #593
It's meant to be installed on 365/Cloud.  I don't see it working locally in a Vm world.

[2018-04-25 09:33] garima2510 opened #839 "Updates on Priorities"
Is there any update on below priority list

https://github.com/Microsoft/mattercenter/blob/master/PRIORITIES.md#feature-updates

Any support available?

[2018-04-25 13:47] rvn2k commented on #593
I thought it needed some parts on a real server? I have both a virtual
server and our Office 365 working.

Saludos cordiales,

*Nicolás Rehbein C. *Teléfono: *(+56-9) 76969203  <+56225812373>*
*nicolasr@neotech.cl* <nicolasr@neotech.cl> | *www.neotech.cl*
<http://www.neotech.cl/> | *www.linuxtech.cl* <http://www.linuxtech.cl/>

2018-04-25 0:26 GMT-03:00 adrenaline1073 <notifications@github.com>:

[2018-06-26 19:08] crothman54 opened #840 "Permissions Issue During Deployment"
I'm trying to deploy matter center. When I run deploy.ps, it fails on step 1A - creating groups with an error message that the remote server returned error (401) - Unauthorized.  The user account I used has full admin access to the Sharepoint root. What other permissions should I be looking at?
![clipboard01](https://user-images.githubusercontent.com/40610930/41933781-d20b7376-7952-11e8-8c27-d58c9

[2018-08-27 03:28] rdentandt opened #841 "Blank Matter List"
Hi All

After a tedious process of loading matter center I managed to successfully load it. I can create matters but I have the following issues:
1. No notifications are sent on a matter creation.
2. If I click on the matter direct link that is provided after a matter is create I can see the matter and create all calendar entries etc etc but If I browse matters on https://*****.azurewebsites.net/#

[2018-08-30 15:52] jgm19 commented on #841
I am experiencing the same issues. it just happened recently without any change done to the app. All of the previously created matters are not showing. even newly created ones. SPO search is working fine.

[2018-08-30 20:29] jgm19 commented on #841
@premchandpl can you help us out with this issue please?

[2018-09-19 04:18] Vasanth1981 commented on #841
Hi, We're also facing the same issue with Matter Center recently. Search Result is not listing newly created matters or documents. Re-Index has done multiple times including AppCatalog site too. But the Matter Creation is working fine, only issue with Search Result, (FindMatter or FindDocuments API calls)

The same issue happening in both our development or production environment.

-Vasanth.

[2018-09-19 14:48] Vasanth1981 commented on #841
@jgm19 Are you able to resolve this issue?

[2018-09-20 16:22] Vasanth1981 commented on #841
@WilsonReddy , Do you have any idea why the search matter would stop working after a certain time since its failed both development & Production at the same time. I'm using Matter Center 1st version.

[2018-09-28 15:48] jgm19 commented on #841
Hi @Vasanth1981
No, I haven't resolved this issue yet. as of now, there seem to be no fix identified. I am wondering if this was caused by any changed in Sharepoint Online since the code for matter center web hasn't have an change for quite some time now and this functionality suddenly just stopped.

Anybody who can help? we cannot use matter center without this functionality because much of the f

[2018-10-02 20:06] pjherman commented on #841
We are having the same issue.  I am able to create matters without any issues but they do not show up in the "All Matters" or "My Matters" list.  I have tried re-indexing and that has not helped.  I just happened to re-deploy a new list of clients and thought it was related to this process but now that I am seeing this thread, I believe the problem is bigger than this.  SharePoint search is workin

[2018-10-09 18:35] Vasanth1981 commented on #841
@pjherman Which version of Matter Center you're using? I just want to make sure it's not happening for Version 1.

[2018-10-09 18:54] pjherman commented on #841
Version 2

[2018-10-09 18:59] Vasanth1981 commented on #841
Yes. I'm using Version 1. Looks like its affected for all the version of Matter Center. Just want to confirm it. Did you receive any support from Microsoft/Office 365 team?

[2018-10-10 14:13] araver commented on #841
It's an issue with how Microsoft is crawling document libraries[https://github.com/SharePoint/sp-dev-docs/issues/2367](https://github.com/SharePoint/sp-dev-docs/issues/2367). I've created a pull request with an updated fix. [https://github.com/Microsoft/mattercenter/pull/843](https://github.com/Microsoft/mattercenter/pull/843)

[2018-10-10 16:46] Vasanth1981 commented on #841
@araver , For me (using Version 1), getting the document result is not an issue but Matters are not rending in the Result. Will this fix resolve both?

FindMatter method using below Constant,
 /// <summary>
 /// Constant required for document library filter condition
 /// </summary>
 public const string DocumentLibraryFilterCondition = "contentclass:STS_List_DocumentLibrary";

and FindDocument met

[2018-10-10 16:48] araver commented on #773
Updated in pull request [https://github.com/Microsoft/mattercenter/pull/844](https://github.com/Microsoft/mattercenter/pull/844)

[2018-10-10 19:01] araver commented on #841
@Vasanth1981 It should fix both.

[2018-10-10 19:18] jgm19 commented on #841
Hi @araver ! Thanks for this. Do i just over write the serviceconstants.cs file on the source and redeploy the webapp?

[2018-10-10 19:54] jgm19 commented on #841
@araver Sorry I'm new to github. I don;t use version control. I just downloaded the zip file and install it from there. If i just grab your version of the file and overwrite all copies on the source, how do i deploy that in the already deployed matter center in our test tenant? Should i reinstall mattercenter from zero?

thanks for all the help

[2018-10-10 20:19] Vasanth1981 commented on #841
@araver Sorry, No Luck. I'm using Version 1 and I tried following changes on the ConstantStrings.cs class under Utility project,

        /// <summary>
        /// Constant required for document library filter condition
        /// </summary>
        // public const string DocumentLibraryFilterCondition = "contentclass:STS_List_DocumentLibrary";
        // public const string DocumentLibraryFilter

[2018-10-10 20:30] jgm19 commented on #841
@Vasanth1981 did you have to reinstall mattercenter?

[2018-10-10 20:32] Vasanth1981 commented on #841
@jgm19  Nope. Just update the dll of Utility Project in Service class!

[2018-10-10 20:35] araver commented on #841
@Vasanth1981 I'm not sure what the difference between version 1 and version 2. My fix is only applicable to the latest version of the source code.

[2018-10-10 20:41] jgm19 commented on #841
@Vasanth1981 sorry new here. So i overwrite the serviceconstants.cs file on the Microsoft.Legal.MatterCenter.Utility project, recompile and upload  the dll on the website's wwwroot? is it that simple. BTW i saw another instance of tghe serviceconstants.cs file in the \tree\master\cloud\src\solution\Microsoft.Legal.MatterCenter.jobs\Constants folder. do we need to update that too?

[2018-10-10 20:42] Vasanth1981 commented on #841
@jgm19 I'm not sure about it since I'm using Matter Center V1 its applicable to only one place.

[2018-10-10 20:46] Vasanth1981 commented on #841
@araver But the filter options for both version is same!

[2018-10-10 21:28] araver commented on #841
@Vasanth1981 That may be true. But the code may be completely different. The variable names appear to be different.

[2018-10-12 20:55] jgm19 commented on #841
@Vasanth1981 , yes, this worked and fixed the issue for me. thanks @araver

[2018-10-22 23:14] dal4u36 opened #845 "Help needed on installing and setting up matter center"
Hi,

I'm new to this I want to setup matter center for a customer who would like to use matter center for their legal matters, don't have a clue where to start can someone please help me set this up or give me some guidance on how to setup matter center.

Thanks.

[2018-10-26 01:56] Cossack1 commented on #845
Hi
If you need something quick for 365 then I would suggest MacroView365.com. They have full integration with Office and easy to use provisioning tools as well as tips on migrating files to the Cloud.

Cheers,
Cossack1

[2018-11-16 21:53] Kazzan commented on #93
Yeah, it looks like a regression of https://support.microsoft.com/en-my/help/3090768/invalidshellid-error-in-rps-in-office-365-dedicated-itar

[2018-12-18 04:59] rmanjhi commented on #789
[#[](url)](url
![untitled](https://user-images.githubusercontent.com/30716153/50132959-9c84ec00-02af-11e9-8ea1-ca9699e97e56.png)
)
@nikthakur  can you help to solve this problem,I have tried to solve it. many time.

[2019-01-03 13:31] SigarDave opened #847 "500 Internal Server Error and Too many issues with the Visual Studio 2015"
Hello , I have cloned the repo and opened in VS 2015.
There are lot of issues in the NuGet Package and they are missing so many packages even if we Restore the packages.
Bower is not installed and there are other details too,

Even if I am able to get those dependencies set, and make the app publish it turns out in the 500 Internal error.

Also It looks like the Powershell is not working properly

[2019-02-26 18:27] alexandremury opened #848 "500 error while executing step 10"
Error Log,
Can someone help me?

<Events><Event><System><Provider Name=".NET Runtime"/><EventID>1026</EventID><Level>1</Level><Task>0</Task><Keywords>Keywords</Keywords><TimeCreated SystemTime="2019-02-22T00:42:22Z"/><EventRecordID>46670296</EventRecordID><Channel>Application</Channel><Computer>RD00155DE8529F</Computer><Security/></System><EventData><Data>Application: Microsoft.Legal.MatterCenter.

[2019-03-28 21:30] Vasanth1981 opened #849 "Edit Matter/Document Libraries"
Hi Team,
I try to the edit managed metadata column in the Matter Center Document Library after the creation. The updated managed metadata is reflecting on the document search and document detail level.
But it not updating or reflecting in the Matter level e.g Matter Search Result,
1. I have updated the property in the document level (for each document)
2. I have updated the default value in the Do

[2019-03-28 21:53] Vasanth1981 commented on #841
@jgm19 , @araver
The code fix is resolved the issue.

[2019-04-02 15:05] mohamedkhalid85 commented on #828
Does anyone successed to deploy the solution or even found someone to pay ?

[2019-04-20 18:03] COMPUTERNIRVANA commented on #845
Hi All

I'm another Matter Center newbie and looking for any prior experience actually installing and working with Microsoft Matter Center.  Has anyone actually set up and worked with this product.?

[2019-04-22 20:15] adrenaline1073 commented on #845
I consider myself a fairly technical guy in the industry for over 30 years.  I wasted 6 months just trying to get it working and it was to no avail.  I’m fairly certain next to no one has ever had a successful installation.

From: COMPUTERNIRVANA <notifications@github.com>
Sent: Saturday, April 20, 2019 2:04 PM
To: Microsoft/mattercenter <mattercenter@noreply.github.com>
Cc: Subscribed <subscribed

[2019-04-22 20:53] COMPUTERNIRVANA commented on #845
Thanks for your reply.  There is such scant documentation on this product, I wonder if it actually has been in production outside Microsoft's environs.

Thanks again.

[2019-05-02 12:06] gustavnavar commented on #800
I recreated the Outlook Add-in and it works now

[2019-05-02 12:06] #800 closed

[2019-07-12 00:06] krisbradley opened #850 "Create a docker container"
Setting up a docker container with all of the dependencies set up would make installing, deploying and managing this application much easier.  This should just require creating a dockerfile and incorporating it into the build.

[2020-01-31 17:12] treborb123 opened #851 "How to change tenant when setting up MatterCenter."
Hello,

I'm trying to setup MatterCenter. I'm at Step 7 where you run the Deploy-AzureResourceGroup.ps1 script. I need to tell it to create the resources in a different Azure tenant but it doesn't prompt and I don't where I can change it in the script.

Any help would be great.

[2020-02-12 07:57] sharpzuber commented on #126
I am also getting the above same issue ?

[2020-03-03 21:07] agrplx opened #852 "Web Job Creation Fails"
It seems that the commands that the scripts use to create the web jobs have been depreciated and fail with the following error:

New-AzureWebsiteJob : <string xmlns="http://schemas.microsoft.com/2003/10/Serialization/">Request to a downlevel
service failed.</string>

Has anyone had any experience in altering the scripts using the AzureRM commands (as there is no direct replacement for the old comm

[2020-04-15 17:36] kiwicloudmaster commented on #845
I have installed and got this operating both On-Prem and in the Microsoft Cloud.
Happy to help others who are looking to implement, customize and or support.

Thanks

[2020-05-02 00:05] aidaros1983 opened #853 "install mattercenter."
I need an expert developer to install
mattercenter.

Aidaros
aidros07@gmail.com
00966533988331

[2020-08-13 07:08] meemakwana commented on #852
Hi,
I am facing the same issue. Did anyone manage to fix this ?
Regards,
Meena

[2020-08-13 07:12] meemakwana commented on #845
There are many issues listed in Issues but I don't think anyone is replying to these issues with fix information :-(

[2020-08-13 08:16] meemakwana opened #854 "Request to a downlevel service failed and Updating Office, Outlook and SharePoint App schema files failed issue"
Hi,

After fixing some scripts, I am now facing issues in below steps.
1) Request to a downlevel service failed and Updating Office : Create-MatterCenterWebJob.ps1
2) Outlook and SharePoint App schema files failed issue :Deploy-SPOFiles.ps1, DeployOutlookApp.ps1 and DeployOfficeApp.ps1

Can anyone has fixed this issue before ?

Thanks,
Meena

[2020-08-13 21:01] meemakwana commented on #539
I am facing this issue, did anyone manage to fix ?

[2020-08-17 21:13] meemakwana commented on #730
@shijov , I am facing the same issue. I have verified all the config values mentioned are correct. Could you please help me resolving this issue ?

[2020-08-17 21:18] meemakwana opened #855 "Error at step 10. ErrorCode: 500 ClassName: SPOAuthorization"
Hi,
I am facing the issue during the step 10. I have verified all the config values are correct. I have looked at this issue but it is closed and did not help me : https://github.com/microsoft/mattercenter/issues/730.

Issue:
System.NullReferenceException: Object reference not set to an instance of an object. at Microsoft.Legal.MatterCenter.Web.Controllers.ConfigController.<GetConfigsForSPO>d__11.

[2020-08-19 06:35] meemakwana commented on #849
Hello Vasanth, did you manage to install Matter center ?

[2020-08-23 06:21] meemakwana opened #856 "Unable to create matter Step 2/3 fails"
I am unable to create matter, spend hours looking for all the configuration lists but it's not helpful. Attaching the error screenshot for more information.

Note: The matter created during the first deployment with different site collection still appears in the matter. Due to many issues in first deployment, I have created another matter center site collection after deleting all the config ShareP

[2020-09-09 11:38] Dmeirman opened #857 "MMC plugin for office 365 can't login"
When trying to open MMC add in in microsoft word and in the process of logging in it gives me this error:

[code]

We contacted microsoft premier support, after many hours of troubleshooting and countless engineers on Microsoft side  they send us here.

Please help

[2020-10-09 11:49] Admin-LawfirmServices opened #858 "Error 500 - Creating Matter"
Hello.

Looking for some guidance with Error 500 when creating a new matter:

Error!      Description   Error occured in the system. Please contact the administrator   Message   List does not exist. The page you selected contains a list   that does not exist. It may have been deleted by another user.   ErrorCode   500   MethodName   SetPermission   ClassName   SPList   LineNumber    1269   StackTr

[2020-10-19 08:50] walidelrifai98 commented on #852
iam also facing this issue.
please help if someone managed to fix it

[2020-10-19 09:01] walidelrifai commented on #822
@premchandpl can we please instruct on how we can deploy the webjob into the webapp.
Receiving request to a downlevel service  has failed error.
Please  help

[2020-10-19 09:05] walidelrifai opened #859 "Request to a downlevel service failed"
I am receiving the error **Request to a downlevel service failed** when trying to deploy the webjob into mattercenter webapp.

Is there anyway to fix this? or find an alternative script for deploying the webjob?

[2020-10-23 10:20] walidelrifai commented on #798
did anyone manage to fix this?

[2020-10-23 11:56] walidelrifai commented on #780
hi @Koroush7 could you assist me with deploying matter center  if you got it to work properly.

[2020-10-23 14:19] Koroush7 commented on #780
Hi,
I am sorry but that was a few years ago and I don't have that environment setup any more. I wish I could be of more help.
Koroush
    On ‎Friday‎, ‎October‎ ‎23‎, ‎2020‎ ‎04‎:‎57‎:‎16‎ ‎AM‎ ‎PDT, walidelrifai <notifications@github.com> wrote:

hi @Koroush7 could you assist me with deploying matter center if you got it to work properly.

—
You are receiving this because you were mentioned.
Repl

[2020-10-26 12:24] walidelrifai commented on #822
@premchandpl i wanted to get back and check if there is a 2020 update to webjob deploy scripts as it fails with request to downlevel service failed .
When i deploy the webjob manually i get 401 unauthorized error.

[2020-11-09 15:57] kepestomas opened #860 "MatterCenterHome / "Error occurred while creating web part""
Has anyone experienced the following issue. Deployment was seemingly successful but when accessing Matter Center Home I get the following error - "Error occurred while creating web part"

Is this a SharePoint version issue or something went wrong during deployment?

I can access this site:
![image](https://user-images.githubusercontent.com/47578763/98564280-7524d700-22ac-11eb-8319-3246f72129f6.png

[2020-11-11 14:16] kepestomas commented on #856
Hi @meemakwana have you managed to solve this issue? I am struggling with the same thing.

[2020-11-11 14:41] kepestomas commented on #816
@heckshmek  By any chance you managed to solve this?

[2021-03-23 22:15] MattGoldmanSSW commented on #773
@MaartenSundman this helped me thanks!

[2021-06-09 18:27] zastptm commented on #860
Check the site type where 'Matter Center Home' is, it has to be 'teams', not 'communication'

[2022-02-10 13:13] #711 closed

[2022-03-21 17:45] hamishp2 opened #863 "Open Powershell as administrator and navigate to <<download location>>\tree\master\cloud\src\solution\Deployment\Scripts and run Deploy-AzureResourceGroup.ps1"
I cannot find this script in the file? Has anyone got any information on this?

[2022-03-21 17:54] #863 closed

[2022-03-22 11:16] hamishp2 opened #864 "Finding permissions for step 8"
I cant access the old Azure Portal for this step, has anyone found a work around for this to assign permissions to other apps?

[2022-03-22 17:13] hamishp2 opened #865 "Oops. 500 Internal Server Error"
When publishing the solution via VS, once completed. I'm getting this error. Any help would be appreciated.

[2022-06-16 23:44] mvcsharepointdev opened #868 "Error MSB4226 The imported project "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Microsoft\VisualStudio\v16.0\DotNet\Microsoft.DotNet.Props" was not found."
I am installing matteecenter, and on this step:-

`1.	Create build of helper utilities
a.	Navigate to tree\master\cloud\src\Helper Utilities\Microsoft.Legal.MatterCenter.HelperUtilities and open Microsoft.Legal.MatterCenter.HelperUtilities solution in Visual Studio and build the solution
`
when i build the project, i will get this error:-

Severity	Code	Description	Project	File	Line	Suppression St

[2022-06-16 23:51] mvcsharepointdev opened #869 "What i need to specify inside this xlsx "MCDeploymentConfig""
I am installing the Mattecenter, and i am a bit confused on what i need to specify inside the MCDeploymentConfig excel sheet, so i have those 3 questions:-

1) Inside the "Create_group" tab >> it mentioned to "**_COMPLETE USER EMAIL ADDRESS e.g. useralias@domain.com or useralias@tenantname.onmicrosoft.com_**".. so in our case we want all users to access the mattercenter,, so do we need to add all

[2022-06-17 18:47] mvcsharepointdev opened #870 "Deploy.ps1 will return this error "Message: The underlying connection was closed: An unexpected error occurred on a send.""
when i execute  `Deploy.ps1` it will return this error

"Message: The underlying connection was closed: An unexpected error occurred on a send."`

[code]

any advice?